@import '@sbb-esta/lyne-elements/standard-theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  @apply h-full w-full;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --sbb-color-red: #0090d7; /* A nice green */
  --sbb-color-red-alpha-0: rgba(76, 175, 80, 0); /* Transparent green */
  --sbb-color-red-alpha-20: #037cb818; /* 20% opacity green */
  --sbb-color-red-alpha-90: #037cb8ec; /* 90% opacity green */
  --sbb-color-red-mode-dark: #037bb8; /* A darker green */
  --sbb-color-red125: #037bb8; /* A slightly darker shade of green */
  --sbb-color-red125-alpha-0: rgba(46, 125, 50, 0); /* Transparent dark green */
  --sbb-color-red125-alpha-20: #037cb831; /* 20% opacity dark green */
  --sbb-color-red150: #015580; /* Even darker green */
  --sbb-pearl-chain-color-past: #eeeded;
  --sbb-pearl-chain-bullet-color-past: #eeeded;
  --osdm-gray: #f1f1f1;
  --osdm-bg-primary: #5db87b;
  --sbb-typo-font-family: 'Poppins', sans-serif;
}

.btn {
  @apply cursor-pointer bg-osdm-accent border-none text-osdm-text-inverted text-xl pb-1 rounded-full w-14 h-14 flex items-center justify-center transition-all;
}

.btn-unselected {
  @apply bg-gray-100 border-2 border-dashed border-gray-500 text-gray-500;
}
