<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="GtmEditorAdvisorApplication">
      <!-- @generated Gtm -->
      <application>
         <run class="Gtm.presentation.GtmEditorAdvisor$Application"/>
      </application>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <!-- @generated Gtm -->
      <perspective
            name="%_UI_Perspective_label"
            class="Gtm.presentation.GtmEditorAdvisor$Perspective"
            id="Gtm.presentation.GtmEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <!-- @generated Gtm -->
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="Gtm.presentation.GtmEditorAdvisorOpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            id="Gtm.presentation.GtmEditorAdvisorOpenCommand"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <!-- @generated Gtm -->
      <key
            commandId="Gtm.presentation.GtmEditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="Gtm.presentation.GtmEditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated Gtm -->
      <actionSet
            label="%_UI_GtmEditorAdvisor_ActionSet_label"
            visible="true"
            id="GtmEditorAdvisorActionSet">                
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="Gtm.presentation.GtmEditorAdvisorOpenURICommand"
               class="Gtm.presentation.GtmEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="Gtm.presentation.GtmEditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="Gtm.presentation.GtmEditorAdvisorOpenCommand"
               class="Gtm.presentation.GtmEditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="Gtm.presentation.GtmEditorAdvisorOpenAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated Gtm -->
      <actionSet
            label="%_UI_GtmModelWizard_ActionSet_label"
            visible="true"
            id="Gtm.presentation.GtmActionBarContributorActionSet">
         <action
               label="%_UI_GtmModelWizard_label"
               class="Gtm.presentation.GtmActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="Gtm.presentation.GtmActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Gtm -->
      <editor
            id="Gtm.presentation.GtmEditorID"
            name="%_UI_GtmEditor_label"
            icon="icons/full/obj16/GtmModelFile.gif"
            extensions="gtm"
            class="Gtm.presentation.GtmEditor"
            contributorClass="Gtm.presentation.GtmActionBarContributor">
      </editor>
   </extension>
   <extension
         id="GTMproduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="GTM_data_converter.editor.GtmEditorAdvisorApplication"
            name="OSDM data converter">
         <property
               name="appName"
               value="OSDM data converter">
         </property>
         <property
               name="aboutImage"
               value="icons/UIC GIF square_96.gif">
         </property>
         <property
               name="aboutText"
               value="UIC fare data converter &#x0A;&#x0A;The tool provides conversion between fare data according to UIC standards 108.1 and IRS 90918-10.">
         </property>
         <property
               name="windowImages"
               value="icons/UIC GIF square_16.gif,icons/UIC GIF square_32.gif,icons/UIC GIF square_48.gif,icons/UIC GIF square_64.gif">
         </property>
      </product>
   </extension>
   

	
	<extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="Gtm.presentation.HelpHandler"
            id="gtm.contents"
            name="Help">
      </command>  
	</extension>
	
	   <extension point="org.eclipse.help.toc">
      <toc  file="$nl$\toc.xml"
            primary="true">
      </toc>
   	  <index
         path="searchindex/">
      </index>
   </extension>

   <extension point="org.eclipse.help.index">
     	<index file="$nl$\index.xml"/>
   </extension>
   <extension point="org.eclipse.help.contexts">
     	<contexts
           file="$nl$\contexts.xml"
           plugin="barCodeExportFile.editor">
     	</contexts>
   </extension>
   
      <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="Gtm.problems.GtmProblemView"
            id="org.uic.gtm.GtmProblemView"
            name="%_UI_VIEW_ERROR"
            restorable="true">
      </view>
   </extension>
   
      <extension
         id="Gtm.preferences"
         name="GTM Preferences"    
         point="org.eclipse.ui.preferencePages">
      <page
            class="Gtm.preferences.PreferencePage"
            id="Gtm.editor.preferences.PreferencePage"
            name="GTM conversion preferences">
      </page>
   </extension>
   <extension
         id="Gtm.preferences.preferences"
         name="GTM conversion preferences"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="Gtm.preferences.PreferenceInitializer">
      </initializer>
   </extension>	 


</plugin>
