openapi: 3.1.0
info:
  title: UIC 90918-10 - OSDM
  version: 4.0.0-draft
  description: >
    Specifications for the OSDM API standard. The OSDM specification supports
    two modes of operation: Retailer Mode and Distributor Mode. The API works
    identically in both modes, except that in distributor mode the API also
    returns fare information.


    The following resources are key to get started:

      -  [Processes](https://osdm.io/spec/processes/)
      -  [Models](https://osdm.io/spec/models/)
      -  [Getting started](https://osdm.io/spec/getting-started/)
  contact:
    name: OSDM Working Group
    url: https://osdm.io
    email: osdm@uic.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://s3p-osdm.cloud.sqills.com
    description: |
      Sqills Sandbox
  - url: https://osdm-5.platform.bileto.zone/api
    description: |
      Bileto Sandbox (osdm.cz)
  - url: https://benerail-stg-apim.azure-api.net
    description: |
      benerail Sandbox
  - url: https://api.sandbox.turnit.tech/retailer
    description: |
      Turnit Sandbox
tags:
  - name: Versions
    description: |
      information about the available versions of the OSDM API
    x-displayName: Versions
  - name: Places
    description: |
      resources to search for places
    x-displayName: Places
  - name: Trips
    description: |
      resources to search for trips
    x-displayName: Trips
  - name: Offers
    description: |
      resources to get bookable offers
    x-displayName: Offers
  - name: Offer Overview
    description: |
      resources to get an overview of prices without detailed offer information
    x-displayName: Offer Overview
  - name: Availabilities
    description: |
      resources to query availabilities before or after pre-booking
    x-displayName: Availabilities
  - name: BookingPart
    description: |
      resources to add and remove offer parts to a pre-booked booking
    x-displayName: BookingPart
  - name: Bookings
    description: |
      resources to manipulate bookings
    x-displayName: Bookings
  - name: BookedOffers
    description: |
      resources to manipulate bookings
    x-displayName: BookedOffers
  - name: Bookings Search
    description: |
      resources to search for bookings
    x-displayName: Bookings Search
  - name: Bookings Split
    description: |
      resources to split a booking
    x-displayName: Bookings Split
  - name: Purchaser
    description: >
      resources to manipulate a purchaser's information at every stage of the
      flow
    x-displayName: Purchaser
  - name: Passengers
    description: >
      resources to manipulate a passenger's information at every stage of the
      flow
    x-displayName: Passengers
  - name: Passenger Categories
    description: |
      optional objects to simplify the entry of passenger specifications
    x-displayName: Passenger Categories
  - name: Fulfillments
    description: |
      resources to retrieve fulfillments, e.g. tickets
    x-displayName: Fulfillments
  - name: Refund
    description: |
      resources to get and accept a refund offer
    x-displayName: Refund
  - name: Exchange
    description: |
      resources to get exchange offers and book it
    x-displayName: Exchange
  - name: On Hold
    description: |
      resources to put a pre-booking on hold for a given time limit
    x-displayName: On Hold
  - name: Release
    description: >
      resources to release a fulfillment (two-step refund where the first step
      is to mark the release date, release allocated seats, invalidate the
      ticket. Refund of money is performed in the second step.)
    x-displayName: Release
  - name: Complaint Management
    description: |
      resources to manage complaints
    x-displayName: Complaint Management
  - name: Cancel Fulfillments
    description: |
      resources to cancel fulfillments
    x-displayName: Cancel Fulfillments
  - name: Booking Documents
    description: |
      resources to get documents
    x-displayName: Booking Documents
  - name: Reimbursement Management
    description: |
      resources to manage reimbursements
    x-displayName: Reimbursement Management
  - name: Travel Account
    description: |
      resource to get a travel account
    x-displayName: Travel Account
  - name: On-Demand Services
    description: |
      resources to handle contiuous on n-demand servces (e.g. scooter)
    x-displayName: On-Demand Services
  - name: Search
    description: |
      search resources
    x-displayName: Search
  - name: Master Data
    description: |
      resources to get master data
    x-displayName: Master Data
  - name: Product
    description: |
      resources to get product and product related master data
    x-displayName: Product
  - name: Events
    description: Webhook event notifications from allocator to distributor.
    x-displayName: Events
paths:
  /versions:
    $ref: paths/versions.yml
  /places:
    $ref: paths/places.yml
  /places/{placeId}:
    $ref: paths/places_{placeId}.yml
  /trips-collection:
    $ref: paths/trips-collection.yml
  /trips-collections/{tripsCollectionId}:
    $ref: paths/trips-collections_{tripsCollectionId}.yml
  /trips:
    $ref: paths/trips.yml
  /trips/{tripId}:
    $ref: paths/trips_{tripId}.yml
  /offers:
    $ref: paths/offers.yml
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/additional-offers:
    $ref: >-
      paths/bookings_{bookingId}_booked-offers_{bookedOfferId}_additional-offers.yml
  /bookings/{bookingId}/on-hold-offer:
    $ref: paths/bookings_{bookingId}_on-hold-offer.yml
  /offer-overview-route:
    $ref: paths/offer-overview-route.yml
  /offer-overview-trip:
    $ref: paths/offer-overview-trip.yml
  /bookings/{bookingId}/on-hold-offer/{onHoldOfferId}:
    $ref: paths/bookings_{bookingId}_on-hold-offer_{onHoldOfferId}.yml
  /bookings/{bookingId}/passengers/{passengerId}:
    $ref: paths/bookings_{bookingId}_passengers_{passengerId}.yml
  /bookings/{bookingId}/passengers:
    $ref: paths/bookings_{bookingId}_passengers.yml
  /bookings/{bookingId}/purchaser:
    $ref: paths/bookings_{bookingId}_purchaser.yml
  /bookings/{bookingId}/booked-offers:
    $ref: paths/bookings_{bookingId}_booked-offers.yml
  /bookings/{bookingId}/booked-offers/{bookedOfferId}:
    $ref: paths/bookings_{bookingId}_booked-offers_{bookedOfferId}.yml
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/passengers/{passengerId}:
    $ref: >-
      paths/bookings_{bookingId}_booked-offers_{bookedOfferId}_passengers_{passengerId}.yml
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/admissions/{admissionId}:
    $ref: >-
      paths/bookings_{bookingId}_booked-offers_{bookedOfferId}_admissions_{admissionId}.yml
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/offer-parts:
    $ref: paths/bookings_{bookingId}_booked-offers_{bookedOfferId}_offer-parts.yml
  /bookings:
    $ref: paths/bookings.yml
  /bookings/{bookingId}:
    $ref: paths/bookings_{bookingId}.yml
  /bookings/{bookingId}/cleanup:
    $ref: paths/bookings_{bookingId}_cleanup.yml
  /bookings/{bookingId}/history:
    $ref: paths/bookings_{bookingId}_history.yml
  /bookings-search:
    $ref: paths/bookings-search.yml
  /bookings/{bookingId}/split:
    $ref: paths/bookings_{bookingId}_split.yml
  /bookings/{bookingId}/fulfillments:
    $ref: paths/bookings_{bookingId}_fulfillments.yml
  /fulfillments:
    $ref: paths/fulfillments.yml
  /fulfillments/{fulfillmentId}:
    $ref: paths/fulfillments_{fulfillmentId}.yml
  /bookings/{bookingId}/fulfillment-check:
    $ref: paths/bookings_{bookingId}_fulfillment-check.yml
  /fulfillments/{fulfillmentId}/continuous-service-usage/{continuousServiceUsageId}:
    $ref: >-
      paths/fulfillments_{fulfillmentId}_continuous-service-usage_{continuousServiceUsageId}.yml
  /bookings/{bookingId}/refund-offers:
    $ref: paths/bookings_{bookingId}_refund-offers.yml
  /bookings/{bookingId}/refund-offers/{refundOfferId}/confirmation-check:
    $ref: >-
      paths/bookings_{bookingId}_refund-offers_{refundOfferId}_confirmation-check.yml
  /bookings/{bookingId}/refund-offers/{refundOfferId}:
    $ref: paths/bookings_{bookingId}_refund-offers_{refundOfferId}.yml
  /bookings/{bookingId}/release-offers:
    $ref: paths/bookings_{bookingId}_release-offers.yml
  /bookings/{bookingId}/release-offers/{releaseOfferId}:
    $ref: paths/bookings_{bookingId}_release-offers_{releaseOfferId}.yml
  /bookings/{bookingId}/cancel-fulfillments-offers:
    $ref: paths/bookings_{bookingId}_cancel-fulfillments-offers.yml
  /bookings/{bookingId}/cancel-fulfillments-offers/{cancelFulfillmentsOfferId}:
    $ref: >-
      paths/bookings_{bookingId}_cancel-fulfillments-offers_{cancelFulfillmentsOfferId}.yml
  /bookings/{bookingId}/exchange-offers:
    $ref: paths/bookings_{bookingId}_exchange-offers.yml
  /bookings/{bookingId}/exchange-operations:
    $ref: paths/bookings_{bookingId}_exchange-operations.yml
  /bookings/{bookingId}/exchange-operations/{exchangeOperationId}:
    $ref: paths/bookings_{bookingId}_exchange-operations_{exchangeOperationId}.yml
  /complaints:
    $ref: paths/complaints.yml
  /complaints/{complaintId}:
    $ref: paths/complaints_{complaintId}.yml
  /coach-deck-layouts:
    $ref: paths/coach-deck-layouts.yml
  /coach-deck-layouts/{layoutId}:
    $ref: paths/coach-deck-layouts_{layoutId}.yml
  /passenger-categories:
    $ref: paths/passenger-categories.yml
  /reduction-card-types:
    $ref: paths/reduction-card-types.yml
  /zones:
    $ref: paths/zones.yml
  /bookings/{bookingId}/documents:
    $ref: paths/bookings_{bookingId}_documents.yml
  /bookings/{bookingId}/documents/{documentId}:
    $ref: paths/bookings_{bookingId}_documents_{documentId}.yml
  /bookings/{bookingId}/reimbursements:
    $ref: paths/bookings_{bookingId}_reimbursements.yml
  /bookings/{bookingId}/reimbursements/{reimbursementId}:
    $ref: paths/bookings_{bookingId}_reimbursements_{reimbursementId}.yml
  /travel-accounts:
    $ref: paths/travel-accounts.yml
  /availabilities/vehicle-place-map:
    $ref: paths/availabilities_vehicle-place-map.yml
  /availabilities/nearby:
    $ref: paths/availabilities_nearby.yml
  /availabilities/preferences:
    $ref: paths/availabilities_preferences.yml
  /availabilities/on-demand-services:
    $ref: paths/availabilities_on-demand-services.yml
  /products:
    $ref: paths/products.yml
  /products/{productId}:
    $ref: paths/products_{productId}.yml
  /product-tags:
    $ref: paths/product-tags.yml
  /products-search:
    $ref: paths/products-search.yml
webhooks:
  events:
    $ref: ./webhooks/events.yml
components:
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      description: |
        See https://swagger.io/docs/specification/authentication/oauth2/
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/tbd
          refreshUrl: https://refresh.url/tbd
          scopes: {}
x-tagGroups:
  - name: UIC 90918-10 - OSDM
    tags:
      - Versions
      - Places
      - Trips
      - Offers
      - Offer Overview
      - Availabilities
      - BookingPart
      - Bookings
      - BookedOffers
      - Bookings Search
      - Bookings Split
      - Purchaser
      - Passengers
      - Passenger Categories
      - Fulfillments
      - Refund
      - Exchange
      - On Hold
      - Release
      - Complaint Management
      - Cancel Fulfillments
      - Booking Documents
      - Reimbursement Management
      - Travel Account
      - On-Demand Services
      - Search
      - Master Data
      - Product
  - name: UIC 90918-10 - OSDM webhooks
    tags:
      - Events
