{
  	"openapi": "3.0.0",
  	"info": {
    	"version": "1.0.0",
		"title": "UIC 90918-10",
  		"description": "select places nearby",
    	"name": "UIC",
    	"url": "http://www.uic.org",
  		"license": {
    		"name": "Apache 2.0",
    		"url": "https://www.apache.org/licenses/LICENSE-2.0.html"
  		}
 	},
 	"host": "90918-10.uic.org",
 	"basePath": "http://uic.org/90910-10",
 	"schemes": [
    	"https"
  	],
  	"consumes": [
    	"application/json"
  	],
  	"produces": [
    	"application/json"
  	], 	
	"paths": {
		"/{version}/Places/SelectNearBy": {
  			"post": {
    			"description": "reference places and booking",
        		"operationId": "selectPlacesNearby",
        		"parameters": [
         			{
            			"name": "version",
            			"in": "path",
            			"description": "schema version",
            			"required": true,
            			"schema": {
              				"type": "string"  
            			}
          			},      		
         			{
            			"name": "checkNearbyPlacesRequest",
            			"in": "body",
            			"description": "place preferences to be checked",
            			"required": true,
            			"schema": {
              				"$ref": "jsonSchemas/selectplacesnearbyrequest.json#/definitions/CheckNearbyPlacesRequestDef"  
            			}
          			}
        		],    			
     			"responses": {
        			"200": {          
          				"description": "information on option to reserve near by",
         				 "content": {
            				"application/json": {
              					"schema": {
               						"$ref": "jsonSchemas/selectplacesnearbyreply.json#/definitions/CheckNearbyPlacesReplyDef"
           						}
    				        }
          				}
        			},
         			"default": {
           				 "description": "unexpected error",
          				 "schema": {
             			 	"$ref": "jsonSchemas/genericerror.json#/definitions/ErrorDef"
             			 }
            		}
     			}
   			}
  		}
	}
}