openapi: 3.0.3
info:
  title: UIC 90918-10 - OSDM
  version: 1.5.0-rc1
  description: |
    Specifications for the OSDM API standard. The OSDM specification supports two
    modes of operation: Distributor Mode and Allocator Mode. The API works the same in 
    both mode, except that in allocator mode the API also returns fare information.
    The OSDM specification combines the allocator and distributor modes into one aligned
    API interface.
  contact:
    name: Nicolas Selleslagh, Clemens Gantert and Andreas Schlapbach
    url: https://unioninternationalcheminsdefer.github.io/OSDM/
    email: osdm@uic.org
  license:
    name: Apache 2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - description: OSDM Mock on Mocklab
    url: https://osdm.mocklab.io
  - description: Sqills Sandbox
    url: https://s3p-osdm.cloud.sqills.com
  - description: OEBB OSDM Simulator
    url: https://tickets-otest.oebb.at/osdm-sim/api
tags:
  - name: Places
    description: >-
      resources to search for places
  - name: Trips
    description: >-
      resources to search for trips
  - name: Offers
    description: >-
      resources to get bookable offers
  - name: Bookings
    description: >-
      resources to manipulate bookings
  - name: Fares
    description: >-
      resources to access fares
  - name: Reservations
    description: >-
      resources to access reservations
  - name: Passengers
    description: >-
      resources to manipulate a passenger's information at every stage of the flow
  - name: Purchaser
    description: >-
      resources to manipulate a purchaser's information at every stage of the flow
  - name: Fulfillments
    description: >-
      resources to retrieve fulfillments, e.g. tickets
  - name: Refund
    description: >-
      resources to get and accept a refund offer
  - name: Exchange
    description: >-
      resources to get exchange offers and book it
  - name: Complaint Management
    description: >-
      resources to manage complaints
  - name: Master Data
    description: >-
      resources to get master data
paths:
  /places:
    get:
      tags:
        - Master Data
      summary: Returns all places
      description: >-
        Returns all places
      operationId: getPlaces
      parameters:
        - in: query
          name: page
          description: >-
            can be used for pagination control
          schema:
            type: string
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
      responses:
        "200":
          description: the requested places
          headers:
            Cache-Control:
              schema:
                type: string
                default: "public, max-age=10000"
                description: >-
                  A places resource is fairly persistent and has a medium time to live to allow short-term caching.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceResponse"
        "400":
          description: bad input parameter
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: no place information found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
    post:
      tags:
        - Places
      summary: returns place information for a given place request
      description: >-
        Returns places for a given place request based on the OJP specification.
      operationId: postPlaces
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/idempotencyKey"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
      requestBody:
        description: request for place
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceRequest"
      responses:
        "200":
          description: place information found matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceResponse"
        "400":
          description: bad input parameter
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: no place information found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /places/{placeId}:
    get:
      tags:
        - Places
      summary: returns a place
      description: >-
        Returns places
      operationId: getPlacesId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: placeId
          schema:
            type: string
          required: true
          description: id of the place to get.
      responses:
        "200":
          description: the requested places
          headers:
            Cache-Control:
              schema:
                type: string
                default: "public, max-age=10000"
                description: >-
                  A places resource is fairly persistent and has a medium time to live to allow short-term caching.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceResponse"
        "400":
          description: bad input parameter
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: no place information found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /trips/{tripId}:
    get:
      tags:
        - Trips
      summary: Returns a trip element representing a travel trip.
      description:
        A trip consists of one or more legs for a given tripId. Depending on the
        embed either references or full location definitions is returned.
      operationId: getTripsId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: tripId
          schema:
            type: string
            description: unique (on this server) and opaque id of the trip
          required: true
          description: id of the trip to get.
        - in: query
          name: stopBehavior
          description: >-
            Influences what stops are to be returned in response
            (ORIGIN_DESTINATION_ONLY returns no intermediate stops;
            REAL_BOARDING_ALIGHTING returns all stops except virtual stops).
          schema:
            type: string
            default: ORIGIN_DESTINATION_ONLY
            enum:
              - ORIGIN_DESTINATION_ONLY
              - REAL_BOARDING_ALIGHTING
        - in: query
          name: embed
          description: >-
            Influences whether referenced resources are returned in full or as references only.
          schema:
            type: array
            items:
              type: string
              enum:
                - ALL
                - PLACES
                - NONE
            default: [ALL]
            maxItems: 1
      responses:
        "200":
          description: the requested trip
          headers:
            Cache-Control:
              schema:
                type: string
                default: "public, max-age=10000"
                description: >-
                  A trip resource is fairly persistent and has a medium time to live to allow short-term caching.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /trips-collection:
    post:
      tags:
        - Trips
      summary: returns a collection of trips for a given OJP trip request
      description: >-
        Returns trips for a given trip request based on the OJP specification.
      operationId: postTrips
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/idempotencyKey"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
      requestBody:
        description: request for trips
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TripSearchCriteria"
      responses:
        "200":
          description: trips found matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripsCollectionResponse"
        "400":
          description: bad input parameter
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: no trips found
        "500":
          description: internal server error
          content:
            "application/problem+json":
              schema:
                $ref: "#/components/schemas/Problem"
        "501":
          description: not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /trips-collection/{tripsCollectionId}:
    get:
      tags:
        - Trips
      summary: Returns a collection of trips for a specified origin and destination (and via).
      description: >-
        The unique codes of the origin and destination can be resolved using the places service.
      operationId: getTripsCollectionId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: tripsCollectionId
          description: id of the trips
          schema:
            type: string
          required: true
        - in: query
          name: page
          description: >-
            can be used for pagination control
          schema:
            type: string
        - in: query
          name: embed
          description: >-
            Influences whether referenced resources are returned in full or as references only.
          schema:
            type: array
            items:
              type: string
              enum:
                - ALL
                - TRIPS
                - TRIPS.PLACES
                - NONE
            default: [ALL]
            maxItems: 2
      responses:
        "200":
          description: Trip(s) found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripsCollectionResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /trip-offers-collection:
    post:
      tags:
        - Offers
      summary: Returns trip offers for origin and destination (and via) places.
      operationId: postTripOffersCollection
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/idempotencyKey"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TripOfferRequest"
      responses:
        "200":
          description: Collection of trip offers found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripOffersCollectionResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /trip-offers-collection/{tripOffersCollectionId}:
    get:
      tags:
        - Offers
      summary: Returns offers and trips for a specified origin and destination (and via).
      description: >-
        The unique codes of the origin and destination can be resolved using the places service.
      operationId: getTripOffersCollectionId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: tripOffersCollectionId
          schema:
            type: string
          required: true
          description: id of the trip offers
        - in: query
          name: page
          description: >-
            can be used for pagination control
          schema:
            type: string
        - in: query
          name: embed
          description: >-
            Influences whether referenced resources are returned in full or as references only.
          schema:
            type: array
            items:
              type: string
              enum:
                - ALL
                - TRIPOFFERS
                - TRIPOFFERS.TRIPS
                - TRIPOFFERS.TRIPS.PLACES
                - TRIPOFFERS.OFFERS
                - TRIPOFFERS.OFFERS.OFFERPARTS
                - TRIPOFFERS.PASSENGERS
                - NONE
            default: [ALL]
            maxItems: 5
      responses:
        "200":
          description: Trip Offer Collection(s) found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripOffersCollectionResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /trip-offers/{tripOfferId}:
    get:
      tags:
        - Offers
      summary: Returns offers for a specified tripOfferId.
      operationId: getTripOffersId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: tripOfferId
          schema:
            type: string
          required: true
          description: id of the trip offer to get.
        - in: query
          name: embed
          description: >-
            Influences whether referenced resources are returned in full or as references only.
          schema:
            type: array
            items:
              type: string
              enum:
                - ALL
                - TRIPS
                - TRIPS.PLACES
                - OFFERS
                - OFFERS.OFFERPARTS
                - PASSENGERS
                - NONE
            default: [ALL]
            maxItems: 5
      responses:
        "200":
          description: Trip offer found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripOfferResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /offers-collection:
    post:
      tags:
        - Offers
      summary: Returns offers for non-journey based products.
      description: >-
        Get offers based on key words or regional information not linked to trips. 
        This includes simple passes or one day tickets.
      operationId: postOffersCollection
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/idempotencyKey"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
      requestBody:
        description: request parameter for offer search
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OfferSearch"
      responses:
        "200":
          description: offer collection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OffersCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /offers-collection/{offersCollectionId}:
    get:
      tags:
        - Offers
      summary: Returns offers unbound to a journey.
      operationId: getOffersCollectionId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: offersCollectionId
          schema:
            type: string
          required: true
          description: id of the trip offers
        - in: query
          name: page
          description: >-
            can be used for pagination control
          schema:
            type: string
        - in: query
          name: embed
          description: >-
            Influences whether referenced resources are returned in full or as references only.
          schema:
            type: array
            items:
              type: string
              enum:
                - ALL
                - OFFERS
                - OFFERS.OFFERRPARTS
                - OFFERS.PASSENGERS
                - NONE
            default: [ALL]
            maxItems: 3
      responses:
        "200":
          description: Offer Collection(s) found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OffersCollectionResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /offers/{offerId}:
    get:
      tags:
        - Offers
      summary: Returns an offer for the id requested.
      description: >-
        Returns an offer.
      operationId: getOffersId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: offerId
          schema:
            type: string
          required: true
          description: id of the offer to get.
        - in: query
          name: embed
          description: >-
            Influences whether referenced resources are returned in full or as references only.
          schema:
            type: array
            items:
              type: string
              enum:
                - ALL
                - OFFERPARTS
                - TRIP
                - TRIP.PLACES
                - NONE
            default: [ALL]
            maxItems: 3
      responses:
        "200":
          description: Offer found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OfferResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  "/offers/{offerId}/reservations/{reservationId}/available-preferences":
    get:
      tags:
        - Reservations
      summary: Allows validating reservation selection parameters.
      description: >-
        The selected place preferences of the customer are checked for availability and the in combination available preferences are returned.
        This service provides the availability service to be compliant with existing 90918-1 services (as-if-reservation).
      operationId: validateReservationPreferencesId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: offerId
          schema:
            type: string
          required: true
          description: id of the offer.
        - in: path
          name: reservationId
          schema:
            type: string
          required: true
          description: id of the reservation where to validate the place availability
        - in: query
          name: preferences
          description: >-
            Place preferences (see code list Reservation Place Preferences) the customer wants to have
          schema:
            type: array
            items:
              type: string
        - in: query
          name: preferencesBundle
          description: >-
            Place preferences the customer wants to have applying to a selection of passengers or transportables only
          schema:
            type: array
            items:
              $ref: "#/components/schemas/PlacePreferencesBundle"
      responses:
        "200":
          description: places available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceAvailabilitiesResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  "/offers/{offerId}/reservations/{reservationId}/nearby":
    get:
      tags:
        - Reservations
      summary: >-
        Allows validating reservation selection parameters near to a reference place.
      description: >-
        Check whether the reservation can be located near the provided reference place
        If selected place preferences of the customer are provided they are checked for availability and the in 
        combination available preferences are returned. This service provides the availability service to be 
        compliant with existing 90918-1 services (as-if-reservation).
      operationId: validateReservationNearbyId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: offerId
          schema:
            type: string
          required: true
          description: id of the offer.
        - in: path
          name: reservationId
          schema:
            type: string
          required: true
          description: id of the reservation where to validate the place availability
        - in: query
          name: coachNumber
          description: coach of the referenced place
          schema:
            type: string
          required: true
        - in: query
          name: placeNumber
          description: place number of the referenced place
          schema:
            type: string
          required: true
        - in: query
          name: preferences
          description: >-
            Place preferences (see code list Reservation Place Preferences) the customer wants to have
          schema:
            type: array
            items:
              type: string
        - in: query
          name: preferencesBundle
          description: >-
            Place preferences the customer wants to have applying to a selection of passengers or transportables only
          schema:
            type: array
            items:
              $ref: "#/components/schemas/PlacePreferencesBundle"
      responses:
        "200":
          description: nearby places available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceAvailabilitiesResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  "/offers/{offerId}/reservations/{reservationId}/place-map":
    get:
      tags:
        - Reservations
      summary: Provides available places for place selection.
      description: >-
        Provide the availability per place to be displayed in a graphical place map for place selection.
        If selected place preferences of the customer are provided they are checked for availability and the in 
        combination available preferences are returned.
      operationId: provideReservationSeatMap
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: offerId
          schema:
            type: string
          required: true
          description: id of the offer
        - in: path
          name: reservationId
          schema:
            type: string
          required: true
          description: id of the reservation where to validate the place availability
        - in: query
          name: preferences
          description: >-
            Place preferences (see code list Reservation Place Preferences) the customer wants to have
          schema:
            type: array
            items:
              type: string
        - in: query
          name: preferencesBundle
          description: >-
            Place preferences the customer wants to have applying to a selection of passengers or transportables only
          schema:
            type: array
            items:
              $ref: "#/components/schemas/PlacePreferencesBundle"
      responses:
        "200":
          description: available places for selection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceAvailabilityResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  "/offers/{offerId}/fares/{fareId}/available-preferences":
    get:
      tags:
        - Fares
      summary: Allows validating reservation selection parameters.
      description: >-
        The selected place preferences of the customer are checked for availability and the in combination
        available preferences are returned. This service provides the availability service to be compliant 
        with existing 90918-1 services (as-if-reservation)
      operationId: validateFareReservationPreferencesId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: offerId
          schema:
            type: string
          required: true
          description: id of the offer
        - in: path
          name: fareId
          schema:
            type: string
          required: true
          description: id of the fare where to validate the place availability
        - in: query
          name: preferences
          description: >-
            Place preferences (see code list Reservation Place Preferences) the customer wants to have
          schema:
            type: array
            items:
              type: string
        - in: query
          name: preferencesBundle
          description: >-
            Place preferences the customer wants to have applying to a selection of passengers or transportables only
          schema:
            type: array
            items:
              $ref: "#/components/schemas/PlacePreferencesBundle"
      responses:
        "200":
          description: Places available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceAvailabilitiesResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  "/offers/{offerId}/fares/{fareId}/nearby":
    get:
      tags:
        - Fares
      summary: >-
        Allows validating reservation selection parameters near to a reference place.
      description: >-
        Check whether the fare reservation can be located near the provided reference place (given by
        coach number and place number). If selected place preferences of the customer are provided they
        are checked for availability and the in combination available preferences are returned.
        This service provides the availability service to be compliant with existing 90918-1 services (as-if-reservation).
      operationId: validateFareReservationNearbyId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: offerId
          schema:
            type: string
          required: true
          description: id of the offer
        - in: path
          name: fareId
          schema:
            type: string
          required: true
          description: id of the fare where to validate the place availability
        - in: query
          name: coachNumber
          description: coach of the referenced place
          schema:
            type: string
          required: true
        - in: query
          name: placeNumber
          description: place number of the referenced place
          schema:
            type: string
          required: true
        - in: query
          name: preferences
          description: >-
            Place preferences (see code list Reservation Place Preferences) the customer wants to have
          schema:
            type: array
            items:
              type: string
        - in: query
          name: preferencesBundle
          description: >-
            Place preferences the customer wants to have applying to a selection of passengers or transportables only
          schema:
            type: array
            items:
              $ref: "#/components/schemas/PlacePreferencesBundle"
      responses:
        "200":
          description: Places available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceAvailabilitiesResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  "/offers/{offerId}/fares/{fareId}/place-map":
    get:
      tags:
        - Fares
      summary: Provides available places for place selection
      description: >-
        Provide the availability per place to be displayed in a graphical place map for place selection.
        If selected place preferences of the customer are provided they are checked for availability and the in
        combination available preferences are returned.
      operationId: provideFareReservationPlaceMap
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: offerId
          schema:
            type: string
          required: true
          description: id of the offer
        - in: path
          name: fareId
          schema:
            type: string
          required: true
          description: id of the reservation fare where to get the place availability
        - in: query
          name: preferences
          description: >-
            Place preferences (see code list Reservation Place Preferences) the customer wants to have
          schema:
            type: array
            items:
              type: string
        - in: query
          name: preferencesBundle
          description: >-
            Place preferences the customer wants to have applying to a selection of passengers or transportables only
          schema:
            type: array
            items:
              $ref: "#/components/schemas/PlacePreferencesBundle"
      responses:
        "200":
          description: selectable places
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceAvailabilityResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /bookings/{bookingId}/passengers/{passengerId}:
    get:
      tags:
        - Passengers
      summary: Returns the passenger's information at booking step.
      operationId: getBookingPassengersId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: bookingId
          schema:
            type: string
          required: true
          description: id of the booking
        - in: path
          name: passengerId
          schema:
            type: string
          required: true
          description: id of the passenger
      responses:
        "200":
          description: Passenger found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PassengerResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

    patch:
      tags:
        - Passengers
      summary: Allows updating a passenger's information at booking step.
      operationId: patchBookingPassenger
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/idempotencyKey"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: bookingId
          schema:
            type: string
          required: true
          description: id of the booking the passenger is in.
        - in: path
          name: passengerId
          schema:
            type: string
          required: true
          description: id of the passenger
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Passenger"
      responses:
        "200":
          description: Passenger successfully patched
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Passenger"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /bookings/{bookingId}/purchaser:
    get:
      tags:
        - Purchaser
      summary: Returns the purchaser's information at booking step.
      operationId: getBookingPurchaser
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: bookingId
          schema:
            type: string
          required: true
          description: id of the booking the purchaser is in.
      responses:
        "200":
          description: Purchaser found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaserResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

    patch:
      tags:
        - Purchaser
      summary: Allows updating a purchaser's information at booking step.
      operationId: patchBookingPurchaser
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/idempotencyKey"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: bookingId
          schema:
            type: string
          required: true
          description: id of the booking the purchaser is in.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Purchaser"
      responses:
        "200":
          description: Purchaser successfully patched
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Purchaser"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /products:
    get:
      tags:
        - Master Data
      summary: Returns all products available to the caller.
      operationId: getProducts
      parameters:
        - in: query
          name: page
          description: >-
            can be used for pagination control
          schema:
            type: string
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
      responses:
        "200":
          description: Product found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductCollectionResponse"
          headers:
            Cache-Control:
              schema:
                type: string
                default: "public, max-age=43200"
                description: >-
                  A product resource has a long time to live to allow long-term caching. Any update of the product 
                  information will lead to the creation of a new resource.
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /products/{productId}:
    get:
      tags:
        - Master Data
      summary: Returns a product for the id provided.
      operationId: getProductsId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: productId
          schema:
            type: string
            description: unique and opaque id of the product
          required: true
          description: id of the product to get
      responses:
        "200":
          description: Product found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"
          headers:
            Cache-Control:
              schema:
                type: string
                default: "public, max-age=43200"
                description: >-
                  A product resource has a long time to live to allow long-term caching. Any update of the product 
                  information will lead to the creation of a new resource.
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /bookings:
    post:
      tags:
        - Bookings
      summary: Allows to create a booking based on a previously requested offer.
      operationId: postBookings
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/idempotencyKey"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookingRequest"
      responses:
        "200":
          description: >-
            Booking pre-booked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /bookings/{bookingId}:
    get:
      tags:
        - Bookings
      summary: Returns a booking with the id provided.
      operationId: getBookingsId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: bookingId
          schema:
            type: string
          required: true
          description: id of the booking to get.
        - in: query
          name: embed
          description: >-
            Influences whether referenced resources are returned in full or as references only.
          schema:
            type: array
            items:
              type: string
              enum:
                - ALL
                - BOOKEDOFFERS.TRIP
                - BOOKEDOFFERS.TRIP.PLACES
                - BOOKEDOFFERS
                - BOOKEDOFFERS.OFFERPARTS
                - PASSENGERS
                - TICKETS
                - REFUND_PROPOSITIONS
                - NONE
            default: [ALL]
            maxItems: 7
      responses:
        "200":
          description: booking found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

    delete:
      tags:
        - Bookings
      summary: Deletes the booking with the id provided.
      description: >-
        It is only possible before the booking is confirmed or in case of a technical problem in confirming multiple 
        independent bookings within a sales transaction. Deletes on a confirmed booking must be documented
        and evidence on the issue must be provided on request. 
        The delete on a confirmed booking is allowed immediately after the confirmation of the booking, 
        but must be repeated according to the error handling rules in case the delete fails.
      operationId: deleteBookingsId
      parameters:
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: bookingId
          schema:
            type: string
          required: true
          description: id of the booking to delete.
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

    patch:
      tags:
        - Bookings
      summary: Allows updating the fulfillment type of the booking.
      operationId: confirmBooking
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/idempotencyKey"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: bookingId
          schema:
            type: string
          required: true
          description: id of the booking to be patched
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookingPatchRequest"
      responses:
        "200":
          description: booking fulfillment type updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /bookings/{bookingId}/fulfillments:
    post:
      tags:
        - Fulfillments
      summary: Triggers the fulfillment of the booking, but does not actually return the fulfillments.
      operationId: postFulfillments
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/idempotencyKey"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: bookingId
          schema:
            type: string
          required: true
          description: id of the booking to be patched
      responses:
        "200":
          description: >-
            Fulfillment successfully completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FulfillmentsResponse"
        "202":
          description: >-
            Fulfillment successfully initiated, retrieve booking to retrieve the fulfillment documents
          content:
            application/json:
              schema:
                type: object
                properties:
                  warnings:
                    $ref: "#/components/schemas/WarningCollection"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

    patch:
      tags:
        - Fulfillments
      summary: Finalizes the fulfillments and returns the documents.
      operationId: patchFulfillments
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/idempotencyKey"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: bookingId
          schema:
            type: string
          required: true
          description: id of the booking to be patched
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FulfillmentsPatch"
      responses:
        "200":
          description: >-
            Fulfillment successfully completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FulfillmentsResponse"
        "202":
          description: >-
            Fulfillment successfully initiated, retrieve booking to retrieve the fulfillment documents
          content:
            application/json:
              schema:
                type: object
                properties:
                  warnings:
                    $ref: "#/components/schemas/WarningCollection"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /fulfillments/{fulfillmentId}:
    get:
      tags:
        - Fulfillments
      summary: Returns the fulfillment, aka. ticket for the provided id.
      operationId: getFulfillmentId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: fulfillmentId
          schema:
            type: string
          required: true
          description: id of the fulfillment to get.
      responses:
        "200":
          description: fulfillment found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FulfillmentResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

    patch:
      tags:
        - Fulfillments
      summary: Finalizes the fulfillment for usage and returns the documents.
      operationId: patchFulfillment
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/idempotencyKey"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: fulfillmentId
          schema:
            type: string
          required: true
          description: id of the fulfillment to get.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FulfillmentPatch"
      responses:
        "200":
          description: >-
            Fulfillment successfully completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FulfillmentsResponse"
        "202":
          description: >-
            Fulfillment successfully initiated, retrieve booking to retrieve the fulfillment documents
          content:
            application/json:
              schema:
                type: object
                properties:
                  warnings:
                    $ref: "#/components/schemas/WarningCollection"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /bookings/{bookingId}/refundOffers:
    post:
      tags:
        - Refund
      summary: Initiates a refund process by creating a RefundOffer resource.
      description:
        The RefundOffer contains the required information on the potential operation. One refund offer can then be
        accepted via a PATCH, deleted or left to die at the end of its lifetime.
      operationId: postRefundOffersBookingId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/idempotencyKey"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: bookingId
          schema:
            type: string
          required: true
          description: id of the booking.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefundOfferRequest"
      responses:
        "200":
          description: Refund offer created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundOffersCollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /bookings/{bookingId}/refundOffers/{refundOfferId}:
    get:
      tags:
        - Refund
      summary: Returns the refund offer for the ids provided.
      operationId: getRefundOffersId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: bookingId
          schema:
            type: string
          required: true
          description: id of the booking
        - in: path
          name: refundOfferId
          schema:
            type: string
          required: true
          description: id of the refund offer to get.
      responses:
        "200":
          description: RefundOffer found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundOffersCollectionResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

    patch:
      tags:
        - Refund
      summary: Allows to accept and confirm a refund offer.
      operationId: patchRefundOffersId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/idempotencyKey"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: bookingId
          schema:
            type: string
          required: true
          description: id of the booking
        - in: path
          name: refundOfferId
          schema:
            type: string
          required: true
          description: id of the refund offer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefundOfferConfirm"
      responses:
        "200":
          description: RefundOffer confirmed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundOffersCollectionResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

    delete:
      tags:
        - Refund
      summary: Deletes a refundOffer without waiting for expiry.
      operationId: deleteRefundOffersId
      parameters:
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: bookingId
          schema:
            type: string
          required: true
          description: id of the booking
        - in: path
          name: refundOfferId
          schema:
            type: string
          required: true
          description: id of the refund offer
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /bookings/{bookingId}/exchangeOperations/{exchangeOperationId}:
    get:
      tags:
        - Exchange
      summary: >-
        Returns the exchange operation with the id provided. It may be a provisional or a confirmed exchange.
      operationId: getExchangeOperation
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: bookingId
          schema:
            type: string
          required: true
          description: id of the booking
        - in: path
          name: exchangeOperationId
          schema:
            type: string
          required: true
          description: id of the exchange operation
        - in: query
          name: embed
          description: >-
            Influences whether referenced resources are returned in full or as references only.
          schema:
            type: array
            items:
              type: string
              enum:
                - ALL
                - TRIP
                - TRIP.PLACES
                - OFFERS
                - OFFERS.OFFERPARTS
                - OFFERS.OFFERPARTS.PRODUCTS
                - PASSENGERS
            default: [ALL]
            maxItems: 5
      responses:
        "200":
          description: ExchangeOperation found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeOperationResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

    patch:
      tags:
        - Exchange
      summary: >-
        Allows to update an ongoing exchange operation.
      operationId: patchExchangeOperation
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/idempotencyKey"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: bookingId
          schema:
            type: string
          required: true
          description: id of the booking to be exchanged.
        - in: path
          name: exchangeOperationId
          schema:
            type: string
          required: true
          description: id of the exchange operation.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExchangeOperationPatchRequest"
      responses:
        "200":
          description: Exchange successfully completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeOperationResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

    delete:
      tags:
        - Exchange
      summary: >-
        Cancels an ongoing exchange operation in provisional state.
      operationId: deleteExchangeOperation
      parameters:
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: bookingId
          schema:
            type: string
          required: true
          description: id of the booking containing the exchange operation
        - in: path
          name: exchangeOperationId
          schema:
            type: string
          required: true
          description: id of the exchangeOperation to delete.
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /exchange-trip-offers-collection:
    post:
      tags:
        - Exchange
      summary: >-
        Returns exchange offers for a specified fulfillments submitted given requested new trip 
        characteristics.
      operationId: postExchangeTripOffersCollection
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/idempotencyKey"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExchangeTripOfferRequest"
      responses:
        "200":
          description: Collection of exchange trip offers found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeTripOffersCollectionResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /exchange-trip-offers-collection/{exchangeTripOffersCollectionId}:
    get:
      tags:
        - Exchange
      summary: >-
        Returns offers and trips for a specified origin and destination (and via).
      operationId: getExchangeTripOffersCollectionId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: exchangeTripOffersCollectionId
          schema:
            type: string
          required: true
          description: id of the trip to get.
        - in: query
          name: page
          description: >-
            can be used for pagination control
          schema:
            type: string
        - in: query
          name: embed
          description: >-
            Influences whether referenced resources are returned in full or as references only.
          schema:
            type: array
            items:
              type: string
              enum:
                - ALL
                - TRIPOFFERS
                - TRIPOFFERS.TRIPS
                - TRIPOFFERS.TRIPS.PLACES
                - TRIPOFFERS.OFFERS
                - TRIPOFFERS.OFFERS.OFFERPARTS
                - TRIPOFFERS.OFFERS.OFFERPARTS.PRODUCTS
                - TRIPOFFERS.PASSENGERS
                - NONE
            default: [ALL]
            maxItems: 7
      responses:
        "200":
          description: Trip Offer Collection(s) found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeTripOffersCollectionResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /exchange-trip-offers/{exchangeTripOfferId}:
    get:
      tags:
        - Exchange
      summary: Returns offers for a specified trip offer id.
      operationId: getExchangeTripOffersId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: exchangeTripOfferId
          schema:
            type: string
          required: true
          description: id of the trip to get.
        - in: query
          name: embed
          description: >-
            Influences whether referenced resources are returned in full or as references
            only.
          schema:
            type: array
            items:
              type: string
              enum:
                - ALL
                - TRIPS
                - TRIPS.PLACES
                - OFFERS
                - OFFERS.OFFERPARTS
                - OFFERS.OFFERPARTS.PRODUCTS
                - PASSENGERS
                - NONE
            default: [ALL]
            maxItems: 6
      responses:
        "200":
          description: Trip offer found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeTripOfferResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /complaints:
    post:
      tags:
        - Complaint Management
      summary: Allows adding the Complaint.
      operationId: createComplaint
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Complaint"
      responses:
        "200":
          description: complaint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplaintResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /complaints/{complaintId}:
    get:
      tags:
        - Complaint Management
      summary: returns a complaint
      description: >-
        Returns a complaint
      operationId: getComplaint
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: complaintId
          schema:
            type: string
          required: true
          description: id of the complaint
      responses:
        "200":
          description: the requested complaint
          headers:
            Cache-Control:
              schema:
                type: string
                default: "public, max-age=10000"
                description: >-
                  A places resource is fairly persistent and has a medium time to live to allow short-term caching.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplaintResponse"
        "400":
          description: bad input parameter
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "404":
          description: no place information found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

    patch:
      tags:
        - Complaint Management
      summary: Allows updating the Complaint.
      operationId: patchComplaint
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          name: complaintId
          schema:
            type: string
            format: uuid
          required: true
          description: id of the complaint to be patched
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplaintPatchRequest"
      responses:
        "200":
          description: complaint updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplaintResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /coachLayouts:
    get:
      tags:
        - Master Data
      summary: Returns all coach layouts.
      description: >-
        Retrieve the coach layout description needed for graphical reservation. The coach
        layouts can either be retrieved as a complete list or specificity for a train identified via offerId and reservationId or fareId
      operationId: getCoachLayouts
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: query
          name: page
          description: >-
            can be used for pagination control
          schema:
            type: string
      responses:
        "200":
          description: coach layouts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoachLayoutsResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /coachLayouts/{layoutId}:
    get:
      tags:
        - Master Data
      summary: Returns a coach layout for a provided id.
      description: >-
        Retrieve a coach layout description needed for graphical reservation for a given layout id.
      operationId: getCoachLayoutsLayoutId
      parameters:
        - $ref: "#/components/parameters/requestor"
        - $ref: "#/components/parameters/acceptLanguage"
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
        - in: path
          description: id of the layout
          name: layoutId
          schema:
            type: string
          required: true
      responses:
        "200":
          description: coach layouts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoachLayoutResponse"
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /reductionCards:
    get:
      tags:
        - Master Data
      summary: Returns a collection of reduction card definitions.
      operationId: getReductionCards
      parameters:
        - in: query
          name: page
          description: >-
            can be used for pagination control
          schema:
            type: string
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
      responses:
        "200":
          description: Reduction cards provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReductionCardCollectionResponse"
          headers:
            Expires:
              schema:
                type: string
                description: >-
                  Gives the date/time after which the response is considered stale (in "HTTP-date" format as defined by RFC 7231).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

  /zones:
    get:
      tags:
        - Master Data
      summary: Returns a collection of zone definitions.
      operationId: getZones
      parameters:
        - in: query
          name: page
          description: >-
            can be used for pagination control
          schema:
            type: string
        - $ref: "#/components/parameters/traceParent"
        - $ref: "#/components/parameters/traceState"
      responses:
        "200":
          description: zone definitions provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZoneCollectionResponse"
          headers:
            Expires:
              schema:
                type: string
                description: >-
                  Gives the date/time after which the response is considered stale (in "HTTP-date" format as defined by RFC 7231).
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "501":
          description: Not implemented
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"

security:
  - oAuth2ClientCredentials: []

components:
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      description: See https://swagger.io/docs/specification/authentication/oauth2/
      flows:
        clientCredentials:
          # The token endpoint of the authorization server, needs to be specified here
          tokenUrl: "https://login.microsoftonline.com/tbd"
          scopes: {} # The scopes are not being used yet

  parameters:
    requestor:
      name: Requestor
      in: header
      description: >-
        The requestor header contains detailed information about who is calling the API. It can include
        information such as channel, organization, sales unit or workstation id and be used to configure 
        e.g. the fare range provided to the caller. The content of the string is part of a bilateral 
        contract by the two parties and not standardized by OSDM. It is recommend to encrypt the 
        information transferred.
      schema:
        type: string
      required: true

    acceptLanguage:
      name: Accept-Language
      in: header
      description: >-
        Describes the set of natural languages that are preferred for localized text in the response
        to the request (see RFC2616-sec14.4). Supporting English (en) is a must.
      schema:
        type: string
      required: false

    idempotencyKey:
      name: Idempotency-Key
      in: header
      description: >-
        The HTTP Idempotency request header field can be used to carry idempotency key in order to make 
        non-idempotent HTTP methods such as POST or PATCH fault-tolerant.
      schema:
        type: string
      required: false

    traceParent:
      name: traceparent
      in: header
      description: >-
        The traceparent header describes the position of the incoming request in its trace graph in a portable, 
        fixed-length format. Its design focuses on fast parsing. Every tracing tool MUST properly set 
        traceparent even when it only relies on vendor-specific information in tracestate (see W3C Trace Context).
      schema:
        type: string
      required: false

    traceState:
      name: tracestate
      in: header
      description:
        The tracestate extends traceparent with vendor-specific data represented by a set of name/value pairs.
        Storing information in tracestate is optional (see W3C Trace Context).
      schema:
        type: string
      required: false

  responses:
    BadRequestResponse:
      description: Bad Request (400)
      content:
        "application/problem+json":
          schema:
            $ref: "#/components/schemas/Problem"

    ConflictResponse:
      description: Conflict (409)
      content:
        "application/problem+json":
          schema:
            $ref: "#/components/schemas/Problem"

    InternalServerErrorResponse:
      description: Internal Server Error (500)
      content:
        "application/problem+json":
          schema:
            $ref: "#/components/schemas/Problem"

    ServiceUnavailableResponse:
      description: Service Unavailable (503)
      content:
        "application/problem+json":
          schema:
            $ref: "#/components/schemas/Problem"

  schemas:
    WarningCollection:
      type: array
      description: >-
        List of warnings.
      items:
        $ref: "#/components/schemas/Warning"

    Warning:
      type: object
      description: >-
        This element can be used to pass non-blocking information or events,
        such as a price difference with the initially offered price at booking time. 
        It is inspired on the JSon problem structure.
      required:
        - code
      properties:
        code:
          type: string
        type:
          type: string
          format: uri
          description: >-
            An absolute URI that identifies the warning type. When dereferenced,
            it SHOULD provide human-readable documentation for the problem type
            (e.g., using HTML).
          default: "about:blank"
          example: "https://example.com/warns/price-updated"
        detail:
          type: string
          description: >-
            A human readable explanation specific to this occurrence of the
            warning.
          example: The price of the given offer part has been updated during the booking operation
        instance:
          type: string
          format: uri
          description: >-
            An absolute URI that identifies the specific occurrence of the warning.
            example: offers/offer1234
    PlaceResponse:
      type: object
      required:
        - places
      properties:
        warnings:
          $ref: "#/components/schemas/WarningCollection"
        places:
          type: array
          items:
            $ref: "#/components/schemas/Place"

    TripResponse:
      type: object
      required:
        - trip
      properties:
        warnings:
          $ref: "#/components/schemas/WarningCollection"
        trip:
          $ref: "#/components/schemas/Trip"

    PlaceRequest: ## OJP  # Reduced scope
      type: object
      description: >-
        Initial input for the place information request. This input defines what is originally looked for.
        Provided by OJP.
      properties:
        placeInput:
          $ref: "#/components/schemas/InitialPlaceInput"
        restrictions:
          $ref: "#/components/schemas/PlaceParam"

    PlaceParam: ## OJP  # Reduced scope
      type: object
      description: >-
        More parameters for restricting the request. Provided by OJP.
      properties:
        type:
          $ref: "#/components/schemas/PlaceType"
        usage:
          $ref: "#/components/schemas/PlaceUsage"
        ptModes:
          $ref: "#/components/schemas/ModeFilter"
        serviceBrandFilter:
          $ref: "#/components/schemas/ServiceBrandFilter"
        carrierFilter:
          $ref: "#/components/schemas/CarrierFilter"
        # topographicPlaceRef:  ## Out of scope
        #   $ref: "#/components/schemas/TopographicPlaceRef"
        pointOfInterestFilter:
          $ref: "#/components/schemas/PointOfInterestFilter"
        numberOfResults:
          description: >-
            Maximum number of results to be returned. The service is allowed to return fewer objects if reasonable
            or otherwise appropriate.
          type: integer
          format: int32
          minimum: 1
      # continueAt:   # Out of scope
      #  type: number
      #  format: int32
      # includePtModes:   # Out of scope
      #  type: boolean

    PlaceType: ## OJP
      type: string
      description: Provided by OJP.
      enum:
        - STOP
        - ADDRESS
        - POI
        - GEO_COORDINATE
        - TOPOGRAPHIC_PLACE

    PlaceUsage: ## OJP
      type: string
      description: >-
        Provided by OJP.
      enum:
        - ORIGIN
        - VIA
        - DESTINATION

    InitialPlaceInput: ## OJP
      type: object
      description: >-
        Initial input for the place information request. This input defines what is originally looked for.
        Provided by OJP.
[...]
