{
  	"openapi": "3.0.0",
  	"info": {
    	"version": "1.0.0",
		"title": "UIC 90918-10",
  		"description": "get available places for graphical reservation",
    	"name": "UIC",
    	"url": "http://www.uic.org",
  		"license": {
    		"name": "Apache 2.0",
    		"url": "https://www.apache.org/licenses/LICENSE-2.0.html"
  		}
 	},
 	"host": "90910-10.uic.org",
 	"basePath": "http://uic.org/90910-10",
 	"schemes": [
    	"https"
  	],
  	"consumes": [
    	"application/json"
  	],
  	"produces": [
    	"application/json"
  	], 	
	"paths": {
		"/{version}/availablePlaces": {
  			"post": {
    			"description": "get available places for graphical reservation",
        		"operationId": "getAvailablePlaces",
        		"parameters": [
         			{
            			"name": "version",
            			"in": "path",
            			"description": "schema version",
            			"required": true,
            			"schema": {
              				"type": "string"  
            			}
          			}
        		],    	
				"requestBody": {
				 	"description": "request params for available places",
            		"required": true,
            		"content": {
            			"application/json": {
            				"schema": {
              					"$ref": "../schemas/osdm-availablePlaces-schema-v2.json#/definitions/PlaceAvailabilityRequestDef"  
            				}
            			}
            		}
				},
     			"responses": {
        			"200": {          
          				"description": "availablePlaces",
         				 "content": {
            				"application/json": {
              					"schema": {
               						"$ref": "../schemas/osdm-availablePlaces-schema-v2#/definitions/PlaceAvailabilityReplyDef"   
           						}
    				        }
          				}
        			},
         			"default": {
           				 "description": "unexpected error",
          				 "schema": {
             			 	"$ref": "../schemas/osdm-common-schema-v2.json#/definitions/ErrorDef"
             			 }
            		}
     			}
   			}
  		}
	}
}