{
  	"openapi": "3.0.0",
  	"info": {
    	"version": "1.0.0",
		"title": "UIC 90918-10",
  		"description": "search offers for a trip",
    	"name": "UIC",
    	"url": "http://www.uic.org",
  		"license": {
    		"name": "Apache 2.0",
    		"url": "https://www.apache.org/licenses/LICENSE-2.0.html"
  		}
 	},
 	"host": "90910-10.uic.org",
 	"basePath": "http://uic.org/90910-10",
 	"schemes": [
    	"https"
  	],
  	"consumes": [
    	"application/json"
  	],
  	"produces": [
    	"application/json"
  	], 	
	"paths": {
		"/{version}/tripOffersCollection": {
  			"post": {
    			"description": "get offers based on a trip",
        		"operationId": "searchTripOffers",
        		"parameters": [
         			{
            			"name": "version",
            			"in": "path",
            			"description": "schema version",
            			"required": true,
            			"schema": {
              				"type": "string"  
            			}
          			}
        		],   
        		"requestBody": {
				 	"description": "request parameter for trip offer search",
            		"required": true,
            		"content": {
            			"application/json": {
            				"schema": {
              					"$ref": "jsonSchemas/osdm-tripOfferSearchSchema-v2.json#/definitions/TripOfferRequestDef"   
            				}
            			}
            		}
				},
     			"responses": {
        			"200": {          
          				"description": "offer collection, corrected trip",
         				 "content": {
            				"application/json": {
              					"schema": {
               						"$ref": "jsonSchemas/osdm-tripOfferSearchSchema-v2.json#/definitions/TripOffersCollectionDef"   
           						}
    				        }
          				}
        			},
         			"default": {
           				 "description": "unexpected error",
          				 "schema": {
             			 	"$ref": "jsonSchemas/genericerror.json#/definitions/ErrorDef"
             			 }
            		}
     			}
   			}
  		}
	}
}