openapi: 3.0.3

info:
  title: UIC 90918-10 - OSDM
  version: 1.4.2
  description: >-
    Specifications for the OSDM API standard. The OSDM specification supports two
    modes of operation: Distributor Mode and Allocator Mode. The API works the same in
    both mode, except that in allocator mode the API also returns fare information.
    The OSDM specification combines the allocator and distributor modes into one aligned
    API interface.
  contact:
    name: Nicolas Selleslagh, Clemens Gantert and Andreas Schlapbach
    url: 'https://unioninternationalcheminsdefer.github.io/OSDM/'
    email: osdm@uic.org
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'

servers:
  - url: https://osdm.mocklab.io
    description: >-
      OSDM Mock on Mocklab
  - url: https://s3p-osdm.cloud.sqills.com
    description: >-
      Sqills Sandbox
  - url: https://tickets-otest.oebb.at/osdm-sim/api
    description: >-
      OEBB OSDM Simulator

tags:
  - name: Places
    description: >-
      resources to search for places
  - name: Trips
    description: >-
      resources to search for trips
  - name: Offers
    description: >-
      resources to get bookable offers
  - name: Bookings
    description: >-
      resources to manipulate bookings
  - name: Fares
    description: >-
      resources to access fares
  - name: Reservations
    description: >-
      resources to access reservations
  - name: Passengers
    description: >-
      resources to manipulate a passenger's information at every stage of the flow
  - name: Purchaser
    description: >-
      resources to manipulate a purchaser's information at every stage of the flow
  - name: Fulfillments
    description: >-
      resources to retrieve fulfillments, e.g. tickets
  - name: Refund
    description: >-
      resources to get and accept a refund offer
  - name: Exchange
    description: >-
      resources to get exchange offers and book it
  - name: Complaint Management
    description: >-
      resources to manage complaints
  - name: Master Data
    description: >-
      resources to get master data

paths:
  /places:
    get:
      tags:
        - Master Data
      summary: Returns all places
      description: >-
        Returns all places
      operationId: getPlaces
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
      responses:
        '200':
          description: >-
            the requested places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceResponse'
          headers:
            Cache-Control:
              schema:
                type: string
                default: 'public, max-age=10000'
                description: >-
                  Resource is fairly persistent and has a medium time to live to allow short-term caching.
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    post:
      tags:
        - Places
      summary: returns place information for a given place request
      description: >-
        Returns places for a given place request based on the OJP specification.
      operationId: postPlaces
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
      requestBody:
        description: >-
          request for place
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceRequest'
      responses:
        '200':
          description: >-
            place information found matching criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /places/{placeId}:
    get:
      tags:
        - Places
      summary: returns a place
      description: >-
        Returns places
      operationId: getPlacesId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: placeId
          in: path
          description: >-
            id of the place to get.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            the requested places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceResponse'
          headers:
            Cache-Control:
              schema:
                type: string
                default: 'public, max-age=10000'
                description: >-
                  Resource is fairly persistent and has a medium time to live to allow short-term caching.
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /trips/{tripId}:
    get:
      tags:
        - Trips
      summary: Returns a trip element representing a travel trip.
      description: >-
        A trip consists of one or more legs for a given tripId. Depending on the
        embed either references or full location definitions is returned.
      operationId: getTripsId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: tripId
          in: path
          description: >-
            id of the trip to get.
          required: true
          schema:
            type: string
        - name: stopBehavior
          in: query
          description: >-
            Influences what stops are to be returned in response
            (ORIGIN_DESTINATION_ONLY returns no intermediate stops;
            REAL_BOARDING_ALIGHTING returns all stops except virtual stops).
            Default value: ORIGIN_DESTINATION_ONLY
          schema:
            $ref: '#/components/schemas/StopBehavior' 
        - name: embed
          in: query
          description: >-
            Influences whether referenced resources are returned in full or as references only.
            Default value: ALL
          schema:
            type: array
            maxItems: 1
            items:
              $ref: '#/components/schemas/TripResponseContent'
      responses:
        '200':
          description: >-
            the requested trip
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripResponse'
          headers:
            Cache-Control:
              schema:
                type: string
                default: 'public, max-age=10000'
                description: >-
                  Resource is fairly persistent and has a medium time to live to allow short-term caching.
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /trips-collection:
    post:
      tags:
        - Trips
      summary: returns a collection of trips for a given OJP trip request
      description: >-
        Returns trips for a given trip request based on the OJP specification.
      operationId: postTrips
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
      requestBody:
        description: >-
          request for trips
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripSearchCriteria'
      responses:
        '200':
          description: >-
            trips found matching criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripsCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /trips-collection/{tripsCollectionId}:
    get:
      tags:
        - Trips
      summary: Returns a collection of trips for a specified origin and destination (and via).
      description: >-
        The unique codes of the origin and destination can be resolved using the places service.
      operationId: getTripsCollectionId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: tripsCollectionId
          in: path
          description: >-
            id of the trips
          required: true
          schema:
            type: string
        - name: embed
          in: query
          description: >-
            Influences whether referenced resources are returned in full or as references only.
            Default value: ALL
          schema:
            type: array
            maxItems: 2
            items:
              $ref: '#/components/schemas/TripsCollectionResponseContent'
      responses:
        '200':
          description: >-
            Trip(s) found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripsCollectionResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /trip-offers-collection:
    post:
      tags:
        - Offers
      summary: Returns trip offers for origin and destination (and via) places.
      operationId: postTripOffersCollection
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripOfferRequest'
      responses:
        '200':
          description: >-
            Collection of trip offers found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripOffersCollectionResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /trip-offers-collection/{tripOffersCollectionId}:
    get:
      tags:
        - Offers
      summary: Returns offers and trips for a specified origin and destination (and via).
      description: >-
        The unique codes of the origin and destination can be resolved using the places service.
      operationId: getTripOffersCollectionId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: tripOffersCollectionId
          in: path
          description: >-
            id of the trip offers
          required: true
          schema:
            type: string
        - name: embed
          in: query
          description: >-
            Influences whether referenced resources are returned in full or as references only.
            Default value: ALL
          schema:
            type: array
            maxItems: 5
            items:
              $ref: '#/components/schemas/TripOffersCollectionResponseContent'
      responses:
        '200':
          description: >-
            Trip Offer Collection(s) found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripOffersCollectionResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /trip-offers/{tripOfferId}:
    get:
      tags:
        - Offers
      summary: Returns offers for a specified tripOfferId.
      operationId: getTripOffersId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: tripOfferId
          in: path
          description: >-
            id of the trip offer to get.
          required: true
          schema:
            type: string
        - name: embed
          in: query
          description: >-
            Influences whether referenced resources are returned in full or as references only.
            Default value: ALL
          schema:
            type: array
            maxItems: 5
            items:
              $ref: '#/components/schemas/TripOfferResponseContent'
      responses:
        '200':
          description: >-
            Trip offer found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripOfferResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /offers-collection:
    post:
      tags:
        - Offers
      summary: Returns offers for non-journey based products.
      description: >-
        Get offers based on key words or regional information not linked to trips.
        This includes simple passes or one day tickets.
      operationId: postOffersCollection
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
      requestBody:
        description: >-
          request parameter for offer search
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferSearch'
      responses:
        '200':
          description: >-
            offer collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffersCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /offers-collection/{offersCollectionId}:
    get:
      tags:
        - Offers
      summary: Returns offers unbound to a journey.
      operationId: getOffersCollectionId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: offersCollectionId
          in: path
          description: >-
            id of the trip offers
          required: true
          schema:
            type: string
        - name: embed
          in: query
          description: >-
            Influences whether referenced resources are returned in full or as references only.
            Default value: ALL
          schema:
            type: array
            maxItems: 3
            items:
              $ref: '#/components/schemas/OffersCollectionResponseContent'
      responses:
        '200':
          description: >-
            Offer Collection(s) found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffersCollectionResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /offers/{offerId}:
    get:
      tags:
        - Offers
      summary: Returns an offer for the id requested.
      description: >-
        Returns an offer.
      operationId: getOffersId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: offerId
          in: path
          description: >-
            id of the offer to get.
          required: true
          schema:
            type: string
        - name: embed
          in: query
          description: >-
            Influences whether referenced resources are returned in full or as references only.
            Default value: ALL
          schema:
            type: array
            maxItems: 3
            items:
              $ref: '#/components/schemas/OfferResponseContent'
      responses:
        '200':
          description: >-
            Offer found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /offers/{offerId}/reservations/{reservationId}/available-preferences:
    get:
      tags:
        - Reservations
      summary: Allows validating reservation selection parameters.
      description: >-
        The selected place preferences of the customer are checked for availability and the in combination available preferences are returned.
        This service provides the availability service to be compliant with existing 90918-1 services (as-if-reservation).
      operationId: validateReservationPreferencesId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: offerId
          in: path
          description: >-
            id of the offer.
          required: true
          schema:
            type: string
        - name: reservationId
          in: path
          description: >-
            id of the reservation where to validate the place availability
          required: true
          schema:
            type: string
        - name: preferences
          in: query
          description: >-
            Place preferences (see code list Reservation Place Preferences) the customer wants to have
          schema:
            type: array
            items:
              type: string
        - name: preferencesBundle
          in: query
          description: >-
            Place preferences the customer wants to have applying to a selection of passengers or transportables only
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PlacePreferencesBundle'
      responses:
        '200':
          description: >-
            places available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceAvailabilitiesResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /offers/{offerId}/reservations/{reservationId}/nearby:
    get:
      tags:
        - Reservations
      summary: Allows validating reservation selection parameters near to a reference place.
      description: >-
        Check whether the reservation can be located near the provided reference place
        If selected place preferences of the customer are provided they are checked for availability and the in
        combination available preferences are returned. This service provides the availability service to be
        compliant with existing 90918-1 services (as-if-reservation).
      operationId: validateReservationNearbyId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: offerId
          in: path
          description: >-
            id of the offer.
          required: true
          schema:
            type: string
        - name: reservationId
          in: path
          description: >-
            id of the reservation where to validate the place availability
          required: true
          schema:
            type: string
        - name: coachNumber
          in: query
          description: >-
            coach of the referenced place
          required: true
          schema:
            type: string
        - name: placeNumber
          in: query
          description: >-
            place number of the referenced place
          required: true
          schema:
            type: string
        - name: preferences
          in: query
          description: >-
            Place preferences (see code list Reservation Place Preferences) the customer wants to have
          schema:
            type: array
            items:
              type: string
        - name: preferencesBundle
          in: query
          description: >-
            Place preferences the customer wants to have applying to a selection of passengers or transportables only
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PlacePreferencesBundle'
      responses:
        '200':
          description: >-
            nearby places available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceAvailabilitiesResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /offers/{offerId}/reservations/{reservationId}/place-map:
    get:
      tags:
        - Reservations
      summary: Provides available places for place selection.
      description: >-
        Provide the availability per place to be displayed in a graphical place map for place selection.
        If selected place preferences of the customer are provided they are checked for availability and the in
        combination available preferences are returned.
      operationId: provideReservationSeatMap
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: offerId
          in: path
          description: >-
            id of the offer
          required: true
          schema:
            type: string
        - name: reservationId
          in: path
          description: >-
            id of the reservation where to validate the place availability
          required: true
          schema:
            type: string
        - name: preferences
          in: query
          description: >-
            Place preferences (see code list Reservation Place Preferences) the customer wants to have
          schema:
            type: array
            items:
              type: string
        - name: preferencesBundle
          in: query
          description: >-
            Place preferences the customer wants to have applying to a selection of passengers or transportables only
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PlacePreferencesBundle'
      responses:
        '200':
          description: >-
            available places for selection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceAvailabilityResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /offers/{offerId}/fares/{fareId}/available-preferences:
    get:
      tags:
        - Fares
      summary: Allows validating reservation selection parameters.
      description: >-
        The selected place preferences of the customer are checked for availability and the in combination
        available preferences are returned. This service provides the availability service to be compliant
        with existing 90918-1 services (as-if-reservation)
      operationId: validateFareReservationPreferencesId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: offerId
          in: path
          description: >-
            id of the offer
          required: true
          schema:
            type: string
        - name: fareId
          in: path
          description: >-
            id of the fare where to validate the place availability
          required: true
          schema:
            type: string
        - name: preferences
          in: query
          description: >-
            Place preferences (see code list Reservation Place Preferences) the customer wants to have
          schema:
            type: array
            items:
              type: string
        - name: preferencesBundle
          in: query
          description: >-
            Place preferences the customer wants to have applying to a selection of passengers or transportables only
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PlacePreferencesBundle'
      responses:
        '200':
          description: >-
            Places available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceAvailabilitiesResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /offers/{offerId}/fares/{fareId}/nearby:
    get:
      tags:
        - Fares
      summary: Allows validating reservation selection parameters near to a reference place.
      description: >-
        Check whether the fare reservation can be located near the provided reference place (given by
        coach number and place number). If selected place preferences of the customer are provided they
        are checked for availability and the in combination available preferences are returned.
        This service provides the availability service to be compliant with existing 90918-1 services (as-if-reservation).
      operationId: validateFareReservationNearbyId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: offerId
          in: path
          description: >-
            id of the offer
          required: true
          schema:
            type: string
        - name: fareId
          in: path
          description: >-
            id of the fare where to validate the place availability
          required: true
          schema:
            type: string
        - name: coachNumber
          in: query
          description: >-
            coach of the referenced place
          required: true
          schema:
            type: string
        - name: placeNumber
          in: query
          description: >-
            place number of the referenced place
          required: true
          schema:
            type: string
        - name: preferences
          in: query
          description: >-
            Place preferences (see code list Reservation Place Preferences) the customer wants to have
          schema:
            type: array
            items:
              type: string
        - name: preferencesBundle
          in: query
          description: >-
            Place preferences the customer wants to have applying to a selection of passengers or transportables only
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PlacePreferencesBundle'
      responses:
        '200':
          description: >-
            Places available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceAvailabilitiesResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /offers/{offerId}/fares/{fareId}/place-map:
    get:
      tags:
        - Fares
      summary: Provides available places for place selection
      description: >-
        Provide the availability per place to be displayed in a graphical place map for place selection.
        If selected place preferences of the customer are provided they are checked for availability and the in
        combination available preferences are returned.
      operationId: provideFareReservationPlaceMap
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: offerId
          in: path
          description: >-
            id of the offer
          required: true
          schema:
            type: string
        - name: fareId
          in: path
          description: >-
            id of the reservation fare where to get the place availability
          required: true
          schema:
            type: string
        - name: preferences
          in: query
          description: >-
            Place preferences (see code list Reservation Place Preferences) the customer wants to have
          schema:
            type: array
            items:
              type: string
        - name: preferencesBundle
          in: query
          description: >-
            Place preferences the customer wants to have applying to a selection of passengers or transportables only
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PlacePreferencesBundle'
      responses:
        '200':
          description: >-
            selectable places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceAvailabilityResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /bookings/{bookingId}/passengers/{passengerId}:
    get:
      tags:
        - Passengers
      summary: Returns the passenger's information at booking step.
      operationId: getBookingPassengersId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: bookingId
          in: path
          description: >-
            id of the booking
          required: true
          schema:
            type: string
        - name: passengerId
          in: path
          description: >-
            id of the passenger
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            Passenger found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassengerResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    patch:
      tags:
        - Passengers
      summary: Allows updating a passenger's information at booking step.
      operationId: patchBookingPassenger
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: bookingId
          in: path
          description: >-
            id of the booking the passenger is in.
          required: true
          schema:
            type: string
        - name: passengerId
          in: path
          description: >-
            id of the passenger
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Passenger'
      responses:
        '200':
          description: >-
            Passenger successfully patched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Passenger'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /bookings/{bookingId}/purchaser:
    get:
      tags:
        - Purchaser
      summary: Returns the purchaser's information at booking step.
      operationId: getBookingPurchaser
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: bookingId
          in: path
          description: >-
            id of the booking the purchaser is in.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            Purchaser found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaserResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    patch:
      tags:
        - Purchaser
      summary: Allows updating a purchaser's information at booking step.
      operationId: patchBookingPurchaser
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: bookingId
          in: path
          description: >-
            id of the booking the purchaser is in.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purchaser'
      responses:
        '200':
          description: >-
            Purchaser successfully patched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Purchaser'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /products:
    get:
      tags:
        - Master Data
      summary: Returns all products available to the caller.
      operationId: getProducts
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
      responses:
        '200':
          description: >-
            Product found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCollectionResponse'
          headers:
            Cache-Control:
              schema:
                type: string
                default: 'public, max-age=10000'
                description: >-
                  Resource is fairly persistent and has a medium time to live to allow short-term caching.
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /products/{productId}:
    get:
      tags:
        - Master Data
      summary: Returns a product for the id provided.
      operationId: getProductsId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: productId
          in: path
          description: >-
            id of the product to get
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            Product found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
          headers:
            Cache-Control:
              schema:
                type: string
                default: 'public, max-age=10000'
                description: >-
                  Resource is fairly persistent and has a medium time to live to allow short-term caching.
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /bookings:
    post:
      tags:
        - Bookings
      summary: Allows to create a booking based on a previously requested offer.
      operationId: postBookings
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingRequest'
      responses:
        '200':
          description: >-
            Booking prebooked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /bookings/{bookingId}:
    get:
      tags:
        - Bookings
      summary: Returns a booking with the id provided.
      operationId: getBookingsId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: bookingId
          in: path
          description: >-
            id of the booking to get.
          required: true
          schema:
            type: string
        - name: embed
          in: query
          description: >-
            Influences whether referenced resources are returned in full or as references only.
            Default value: ALL
          schema:
            type: array
            maxItems: 7
            items:
              $ref: '#/components/schemas/BookingResponseContent'
      responses:
        '200':
          description: >-
            booking found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    delete:
      tags:
        - Bookings
      summary: Deletes the booking with the id provided.
      description: >-
        It is only possible before the booking is confirmed or in case of a technical problem in confirming multiple
        independent bookings within a sales transaction. Deletes on a confirmed booking must be documented
        and evidence on the issue must be provided on request.
        The delete on a confirmed booking is allowed immediately after the confirmation of the booking,
        but must be repeated according to the error handling rules in case the delete fails.
      operationId: deleteBookingsId
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: bookingId
          in: path
          description: >-
            id of the booking to delete.
          required: true
          schema:
            type: string
      responses:
        '204':
          $ref: '#/components/responses/NoContentResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    patch:
      tags:
        - Bookings
      summary: Allows updating the fulfillment type of the booking.
      operationId: confirmBooking
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: bookingId
          in: path
          description: >-
            id of the booking to be patched
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingPatchRequest'
      responses:
        '200':
          description: >-
            booking fulfillment type updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /bookings/{bookingId}/fulfillments:
    post:
      tags:
        - Fulfillments
      summary: Triggers the fulfillment of the booking, but does not actually return the fulfillments.
      operationId: postFulfillments
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: bookingId
          in: path
          description: >-
            id of the booking to be patched
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            Fulfillment successfully completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FulfillmentsResponse'
        '202':
          $ref: '#/components/responses/FulfillmentRequestAcceptedResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    patch:
      tags:
        - Fulfillments
      summary: Finalizes the fulfillments and returns the documents.
      operationId: patchFulfillment
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: bookingId
          in: path
          description: >-
            id of the booking to be patched
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FulfillmentsPatch'
      responses:
        '200':
          description: >-
            Fulfillment successfully completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FulfillmentsResponse'
        '202':
          $ref: '#/components/responses/FulfillmentRequestAcceptedResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /fulfillments/{fulfillmentId}:
    get:
      tags:
        - Fulfillments
      summary: Returns the fulfillment, aka. ticket for the provided id.
      operationId: getFulfillmentId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: fulfillmentId
          in: path
          description: >-
            id of the fulfillment to get.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            fulfillment found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FulfillmentResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /bookings/{bookingId}/refundOffers:
    post:
      tags:
        - Refund
      summary: Initiates a refund process by creating a RefundOffer resource.
      description: >-
        The RefundOffer contains the required information on the potential operation. One refund offer can then be
        accepted via a PATCH, deleted or left to die at the end of its lifetime.
      operationId: postRefundOffersBookingId
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: bookingId
          in: path
          description: >-
            id of the booking.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundOfferRequest'
      responses:
        '200':
          description: >-
            Refund offer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundOffersCollectionResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /bookings/{bookingId}/refundOffers/{refundOfferId}:
    get:
      tags:
        - Refund
      summary: Returns the refund offer for the ids provided.
      operationId: getRefundOffersId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: bookingId
          in: path
          description: >-
            id of the booking
          required: true
          schema:
            type: string
        - name: refundOfferId
          in: path
          description: >-
            id of the refund offer to get.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            RefundOffer found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundOffersCollectionResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    patch:
      tags:
        - Refund
      summary: Allows to accept and confirm a refund offer.
      operationId: patchRefundOffersId
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: bookingId
          in: path
          description: >-
            id of the booking
          required: true
          schema:
            type: string
        - name: refundOfferId
          in: path
          description: >-
            id of the refund offer
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundOfferConfirm'
      responses:
        '200':
          description: >-
            RefundOffer confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundOffersCollectionResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    delete:
      tags:
        - Refund
      summary: Deletes a refundOffer without waiting for expiry.
      operationId: deleteRefundOffersId
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: bookingId
          in: path
          description: >-
            id of the booking
          required: true
          schema:
            type: string
        - name: refundOfferId
          in: path
          description: >-
            id of the refund offer
          required: true
          schema:
            type: string
      responses:
        '204':
          $ref: '#/components/responses/NoContentResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /bookings/{bookingId}/exchangeOperations/{exchangeOperationId}:
    get:
      tags:
        - Exchange
      summary: Returns the exchange operation with the id provided. It may be a provisional or a confirmed exchange.
      operationId: getExchangeOperation
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: bookingId
          in: path
          description: >-
            id of the booking
          required: true
          schema:
            type: string
        - name: exchangeOperationId
          in: path
          description: >-
            id of the exchange operation
          required: true
          schema:
            type: string
        - name: embed
          in: query
          description: >-
            Influences whether referenced resources are returned in full or as references only.
            Default value: ALL
          schema:
            type: array
            maxItems: 5
            items:
              $ref: '#/components/schemas/ExchangeTripOffersResponseContent'
      responses:
        '200':
          description: >-
            ExchangeOperation found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeOperationResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    patch:
      tags:
        - Exchange
      summary: Allows to update an ongoing exchange operation.
      operationId: patchExchangeOperation
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: bookingId
          in: path
          description: >-
            id of the booking to be exchanged.
          required: true
          schema:
            type: string
        - name: exchangeOperationId
          in: path
          description: >-
            id of the exchange operation.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeOperationPatchRequest'
      responses:
        '200':
          description: >-
            Exchange successfully completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeOperationResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    delete:
      tags:
        - Exchange
      summary: Cancels an ongoing exchange operation in provisional state.
      operationId: deleteExchangeOperation
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: bookingId
          in: path
          description: >-
            id of the booking containing the exchange operation
          required: true
          schema:
            type: string
        - name: exchangeOperationId
          in: path
          description: >-
            id of the exchangeOperation to delete.
          required: true
          schema:
            type: string
      responses:
        '204':
          $ref: '#/components/responses/NoContentResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /exchange-trip-offers-collection:
    post:
      tags:
        - Exchange
      summary: Returns exchange offers for a specified fulfillments submitted given requested new trip characteristics.
      operationId: postExchangeTripOffersCollection
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeTripOfferRequest'
      responses:
        '200':
          description: >-
            Collection of exchange trip offers found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeTripOffersCollectionResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /exchange-trip-offers-collection/{exchangeTripOffersCollectionId}:
    get:
      tags:
        - Exchange
      summary: Returns offers and trips for a specified origin and destination (and via).
      operationId: getExchangeTripOffersCollectionId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: exchangeTripOffersCollectionId
          in: path
          description: >-
            id of the trip to get.
          required: true
          schema:
            type: string
        - name: embed
          in: query
          description: >-
            Influences whether referenced resources are returned in full or as references only.
            Default value: ALL
          schema:
            type: array
            maxItems: 7
            items:
              $ref: '#/components/schemas/ExchangeTripOffersCollectionResponseContent'
      responses:
        '200':
          description: >-
            Trip Offer Collection(s) found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeTripOffersCollectionResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /exchange-trip-offers/{exchangeTripOfferId}:
    get:
      tags:
        - Exchange
      summary: Returns offers for a specified trip offer id.
      operationId: getExchangeTripOffersId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: exchangeTripOfferId
          in: path
          description: >-
            id of the trip to get.
          required: true
          schema:
            type: string
        - name: embed
          in: query
          description: >-
            Influences whether referenced resources are returned in full or as references
            only.
            Default value: ALL
          schema:
            type: array
            maxItems: 6
            items:
              $ref: '#/components/schemas/ExchangeTripOffersResponseContent'
      responses:
        '200':
          description: >-
            Trip offer found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeTripOfferResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /complaints:
    post:
      tags:
        - Complaint Management
      summary: Allows adding the Complaint.
      operationId: createComplaint
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Complaint'
      responses:
        '200':
          description: >-
            complaint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplaintResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /complaints/{complaintId}:
    get:
      tags:
        - Complaint Management
      summary: returns a complaint
      description: >-
        Returns a complaint
      operationId: getComplaint
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: complaintId
          in: path
          description: >-
            id of the complaint
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            the requested complaint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplaintResponse'
          headers:
            Cache-Control:
              schema:
                type: string
                default: 'public, max-age=10000'
                description: >-
                  Resource is fairly persistent and has a medium time to live to allow short-term caching.
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

    patch:
      tags:
        - Complaint Management
      summary: Allows updating the Complaint.
      operationId: patchComplaint
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: complaintId
          in: path
          description: >-
            id of the complaint to be patched
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplaintPatchRequest'
      responses:
        '200':
          description: >-
            complaint updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplaintResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /coachLayouts:
    get:
      tags:
        - Master Data
      summary: Returns all coach layouts.
      description: >-
        Retrieve the coach layout description needed for graphical reservation. The coach
        layouts can either be retrieved as a complete list or specificity for a train identified via offerId and reservationId or fareId
      operationId: getCoachLayouts
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
      responses:
        '200':
          description: >-
            coach layouts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoachLayoutsResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /coachLayouts/{layoutId}:
    get:
      tags:
        - Master Data
      summary: Returns a coach layout for a provided id.
      description: >-
        Retrieve a coach layout description needed for graphical reservation for a given layout id.
      operationId: getCoachLayoutsLayoutId
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
        - name: layoutId
          in: path
          description: >-
            id of the layout
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            coach layouts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoachLayoutResponse'
          headers:
            Content-Language:
              schema:
                type: string
                description: >-
                  The language of translatable strings in the response (see RFC2616-sec14.12).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        'default':
          $ref: '#/components/responses/DefaultErrorResponse'

  /reductionCards:
    get:
      tags:
        - Master Data
      summary: Returns a collection of reduction card definitions.
      operationId: getReductionCards
      parameters:
        - $ref: '#/components/parameters/acceptLanguage'
        - $ref: '#/components/parameters/traceParent'
        - $ref: '#/components/parameters/traceState'
      responses:
        '200':
          description: >-
            Reduction cards provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReductionCardCollectionResponse'
          headers:
            Expires:
              schema:
                type: string
                description: >-
                  Gives the date/time after which the response is considered stale (in 'HTTP-date' format as defined by RFC 7231).
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '500':
[...]
