openapi: 3.0.3
info:
  title: UIC 90918-10 - OSDM
  version: 3.9.0
  description: |
    Specifications for the OSDM API standard. The OSDM specification supports two modes of operation: Retailer Mode and Distributor Mode. The API works identically in both modes, except that in distributor mode the API also returns fare information.

    The following resources are key to get started:

      -  [Processes](https://osdm.io/spec/processes/)
      -  [Models](https://osdm.io/spec/models/)
      -  [Getting started](https://osdm.io/spec/getting-started/)
  contact:
    name: OSDM Working Group
    url: https://osdm.io
    email: osdm@uic.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://s3p-osdm.cloud.sqills.com
  description: |
    Sqills Sandbox
- url: https://osdm-5.platform.bileto.zone/api
  description: |
    Bileto Sandbox (osdm.cz)
- url: https://benerail-stg-apim.azure-api.net
  description: |
    benerail Sandbox
- url: https://api.sandbox.turnit.tech/retailer
  description: |
    Turnit Sandbox
tags:
- name: Versions
  description: |
    information about the available versions of the OSDM API
- name: Places
  description: |
    resources to search for places
- name: Trips
  description: |
    resources to search for trips
- name: Offers
  description: |
    resources to get bookable offers
- name: Offer Overview
  description: |
    resources to get an overview of prices without detailed offer information
- name: Availabilities
  description: |
    resources to query availabilities before or after pre-booking
- name: BookingPart
  description: |
    resources to add and remove offer parts to a pre-booked booking
- name: Bookings
  description: |
    resources to manipulate bookings
- name: BookedOffers
  description: |
    resources to manipulate bookings
- name: Bookings Search
  description: |
    resources to search for bookings
- name: Bookings Split
  description: |
    resources to split a booking
- name: Purchaser
  description: |
    resources to manipulate a purchaser's information at every stage of the flow
- name: Passengers
  description: |
    resources to manipulate a passenger's information at every stage of the flow
- name: Passenger Categories
  description: |
    optional objects to simplify the entry of passenger specifications
- name: Fulfillments
  description: |
    resources to retrieve fulfillments, e.g. tickets
- name: Refund
  description: |
    resources to get and accept a refund offer
- name: Exchange
  description: |
    resources to get exchange offers and book it
- name: On Hold
  description: |
    resources to put a pre-booking on hold for a given time limit
- name: Release
  description: |
    resources to release a fulfillment (two-step refund where the first step is to mark the release date, release allocated seats, invalidate the ticket. Refund of money is performed in the second step.)
- name: Complaint Management
  description: |
    resources to manage complaints
- name: Cancel Fulfillments
  description: |
    resources to cancel fulfillments
- name: Booking Documents
  description: |
    resources to get documents
- name: Reimbursement Management
  description: |
    resources to manage reimbursements
- name: Travel Account
  description: |
    resource to get a travel account
- name: On-Demand Services
  description: |
    resources to handle continuous services (e.g. bike, scooter)
- name: Search
  description: |
    search resources
- name: Master Data
  description: |
    resources to get master data
- name: Product
  description: |
    resources to get product and product related master data
security:
- oAuth2ClientCredentials: []
paths:
  /versions:
    $ref: ./paths/versions.yml#/~1versions
  /places:
    $ref: ./paths/places.yml#/~1places
  /places/{placeId}:
    $ref: ./paths/places.yml#/~1places~1{placeId}
  /trips-collection:
    $ref: ./paths/trips.yml#/~1trips-collection
  /trips-collections/{tripsCollectionId}:
    $ref: ./paths/trips.yml#/~1trips-collections~1{tripsCollectionId}
  /trips:
    $ref: ./paths/trips.yml#/~1trips
  /trips/{tripId}:
    $ref: ./paths/trips.yml#/~1trips~1{tripId}
  /offers:
    $ref: ./paths/offers.yml#/~1offers
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/additional-offers:
    $ref: ./paths/offers.yml#/~1bookings~1{bookingId}~1booked-offers~1{bookedOfferId}~1additional-offers
  /bookings/{bookingId}/on-hold-offer:
    $ref: ./paths/on-hold.yml#/~1bookings~1{bookingId}~1on-hold-offer
  /offer-overview-route:
    $ref: ./paths/offers.yml#/~1offer-overview-route
  /offer-overview-trip:
    $ref: ./paths/offers.yml#/~1offer-overview-trip
  /bookings/{bookingId}/on-hold-offer/{onHoldOfferId}:
    $ref: ./paths/on-hold.yml#/~1bookings~1{bookingId}~1on-hold-offer~1{onHoldOfferId}
  /bookings/{bookingId}/passengers/{passengerId}:
    $ref: ./paths/passengers.yml#/~1bookings~1{bookingId}~1passengers~1{passengerId}
  /bookings/{bookingId}/passengers:
    $ref: ./paths/passengers.yml#/~1bookings~1{bookingId}~1passengers
  /bookings/{bookingId}/purchaser:
    $ref: ./paths/purchaser.yml#/~1bookings~1{bookingId}~1purchaser
  /bookings/{bookingId}/booked-offers:
    $ref: ./paths/booked-offers.yml#/~1bookings~1{bookingId}~1booked-offers
  /bookings/{bookingId}/booked-offers/{bookedOfferId}:
    $ref: ./paths/booked-offers.yml#/~1bookings~1{bookingId}~1booked-offers~1{bookedOfferId}
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/passengers/{passengerId}:
    $ref: ./paths/booked-offers.yml#/~1bookings~1{bookingId}~1booked-offers~1{bookedOfferId}~1passengers~1{passengerId}
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/offer-parts:
    $ref: ./paths/booking-parts.yml#/~1bookings~1{bookingId}~1booked-offers~1{bookedOfferId}~1offer-parts
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/reservations:
    $ref: ./paths/booking-parts.yml#/~1bookings~1{bookingId}~1booked-offers~1{bookedOfferId}~1reservations
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/reservations/{reservationId}:
    $ref: ./paths/booking-parts.yml#/~1bookings~1{bookingId}~1booked-offers~1{bookedOfferId}~1reservations~1{reservationId}
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/ancillaries:
    $ref: ./paths/booking-parts.yml#/~1bookings~1{bookingId}~1booked-offers~1{bookedOfferId}~1ancillaries
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/ancillaries/{ancillaryId}:
    $ref: ./paths/booking-parts.yml#/~1bookings~1{bookingId}~1booked-offers~1{bookedOfferId}~1ancillaries~1{ancillaryId}
  /bookings/{bookingId}/booked-offers/{bookedOfferId}/admissions/{admissionId}:
    $ref: ./paths/booking-parts.yml#/~1bookings~1{bookingId}~1booked-offers~1{bookedOfferId}~1admissions~1{admissionId}
  /bookings:
    $ref: ./paths/bookings.yml#/~1bookings
  /bookings/{bookingId}:
    $ref: ./paths/bookings.yml#/~1bookings~1{bookingId}
  /bookings/{bookingId}/cleanup:
    $ref: ./paths/bookings.yml#/~1bookings~1{bookingId}~1cleanup
  /bookings/{bookingId}/history:
    $ref: ./paths/bookings.yml#/~1bookings~1{bookingId}~1history
  /bookings-search:
    $ref: ./paths/bookings-search.yml#/~1bookings-search
  /bookings/{bookingId}/split:
    $ref: ./paths/bookings-split.yml#/~1bookings~1{bookingId}~1split
  /bookings/{bookingId}/fulfillments:
    $ref: ./paths/fulfillments.yml#/~1bookings~1{bookingId}~1fulfillments
  /bookings/{bookingId}/fulfillment-check:
    $ref: ./paths/fulfillments.yml#/~1bookings~1{bookingId}~1fulfillment-check
  /fulfillments/{fulfillmentId}:
    $ref: ./paths/fulfillments.yml#/~1fulfillments~1{fulfillmentId}
  /fulfillments/{fulfillmentId}/continuous-service-usage/{continuousServiceUsageId}:
    $ref: ./paths/fulfillments.yml#/~1fulfillments~1{fulfillmentId}~1continuous-service-usage~1{continuousServiceUsageId}
  /bookings/{bookingId}/refund-offers:
    $ref: ./paths/refund.yml#/~1bookings~1{bookingId}~1refund-offers
  /bookings/{bookingId}/refund-offers/{refundOfferId}/confirmation-check:
    $ref: ./paths/refund.yml#/~1bookings~1{bookingId}~1refund-offers~1{refundOfferId}~1confirmation-check
  /bookings/{bookingId}/refund-offers/{refundOfferId}:
    $ref: ./paths/refund.yml#/~1bookings~1{bookingId}~1refund-offers~1{refundOfferId}
  /bookings/{bookingId}/release-offers:
    $ref: ./paths/release.yml#/~1bookings~1{bookingId}~1release-offers
  /bookings/{bookingId}/release-offers/{releaseOfferId}:
    $ref: ./paths/release.yml#/~1bookings~1{bookingId}~1release-offers~1{releaseOfferId}
  /bookings/{bookingId}/cancel-fulfillments-offers:
    $ref: ./paths/cancel-fulfillments.yml#/~1bookings~1{bookingId}~1cancel-fulfillments-offers
  /bookings/{bookingId}/cancel-fulfillments-offers/{cancelFulfillmentsOfferId}:
    $ref: ./paths/cancel-fulfillments.yml#/~1bookings~1{bookingId}~1cancel-fulfillments-offers~1{cancelFulfillmentsOfferId}
  /bookings/{bookingId}/exchange-offers:
    $ref: ./paths/exchange.yml#/~1bookings~1{bookingId}~1exchange-offers
  /bookings/{bookingId}/exchange-operations:
    $ref: ./paths/exchange.yml#/~1bookings~1{bookingId}~1exchange-operations
  /bookings/{bookingId}/exchange-operations/{exchangeOperationId}:
    $ref: ./paths/exchange.yml#/~1bookings~1{bookingId}~1exchange-operations~1{exchangeOperationId}
  /complaints:
    $ref: ./paths/complaints.yml#/~1complaints
  /complaints/{complaintId}:
    $ref: ./paths/complaints.yml#/~1complaints~1{complaintId}
  /coach-deck-layouts:
    $ref: ./paths/master-data.yml#/~1coach-deck-layouts
  /coach-deck-layouts/{layoutId}:
    $ref: ./paths/master-data.yml#/~1coach-deck-layouts~1{layoutId}
  /coach-layouts:
    $ref: ./paths/master-data.yml#/~1coach-layouts
  /coach-layouts/{layoutId}:
    $ref: ./paths/master-data.yml#/~1coach-layouts~1{layoutId}
  /passenger-categories:
    $ref: ./paths/master-data.yml#/~1passenger-categories
  /promotion-codes:
    $ref: ./paths/master-data.yml#/~1promotion-codes
  /reduction-cards:
    $ref: ./paths/master-data.yml#/~1reduction-cards
  /zones:
    $ref: ./paths/master-data.yml#/~1zones
  /bookings/{bookingId}/documents:
    $ref: ./paths/documents.yml#/~1bookings~1{bookingId}~1documents
  /bookings/{bookingId}/documents/{documentId}:
    $ref: ./paths/documents.yml#/~1bookings~1{bookingId}~1documents~1{documentId}
  /bookings/{bookingId}/reimbursements:
    $ref: ./paths/reimbursements.yml#/~1bookings~1{bookingId}~1reimbursements
  /bookings/{bookingId}/reimbursements/{reimbursementId}:
    $ref: ./paths/reimbursements.yml#/~1bookings~1{bookingId}~1reimbursements~1{reimbursementId}
  /travel-accounts:
    $ref: ./paths/travel-accounts.yml#/~1travel-accounts
  /availabilities/vehicle-place-map:
    $ref: ./paths/availabilities.yml#/~1availabilities~1vehicle-place-map
  /availabilities/place-map:
    $ref: ./paths/availabilities.yml#/~1availabilities~1place-map
  /availabilities/nearby:
    $ref: ./paths/availabilities.yml#/~1availabilities~1nearby
  /availabilities/preferences:
    $ref: ./paths/availabilities.yml#/~1availabilities~1preferences
  /availabilities/on-demand-services:
    $ref: ./paths/availabilities.yml#/~1availabilities~1on-demand-services
  /products:
    $ref: ./paths/products.yml#/~1products
  /products/{productId}:
    $ref: ./paths/products.yml#/~1products~1{productId}
  /product-tags:
    $ref: ./paths/products.yml#/~1product-tags
  /products-search:
    $ref: ./paths/products.yml#/~1products-search
components:
  securitySchemes:
    oAuth2ClientCredentials:
      $ref: ./components/security-schemes.yml#/oAuth2ClientCredentials
  parameters:
    acceptLanguage:
      $ref: ./components/parameters.yml#/acceptLanguage
    idempotencyKey:
      $ref: ./components/parameters.yml#/idempotencyKey
    ifNoneMatch:
      $ref: ./components/parameters.yml#/ifNoneMatch
    requestor:
      $ref: ./components/parameters.yml#/requestor
    traceParent:
      $ref: ./components/parameters.yml#/traceParent
    traceState:
      $ref: ./components/parameters.yml#/traceState
    acceptNamespace:
      $ref: ./components/parameters.yml#/acceptNamespace
    page:
      $ref: ./components/parameters.yml#/page
  responses:
    SeeOtherResponse:
      $ref: ./components/responses.yml#/SeeOtherResponse
    NotModifiedResponse:
      $ref: ./components/responses.yml#/NotModifiedResponse
    BadRequestResponse:
      $ref: ./components/responses.yml#/BadRequestResponse
    CleanupRequestAcceptedResponse:
      $ref: ./components/responses.yml#/CleanupRequestAcceptedResponse
    ConflictResponse:
      $ref: ./components/responses.yml#/ConflictResponse
    DefaultErrorResponse:
      $ref: ./components/responses.yml#/DefaultErrorResponse
    ForbiddenResponse:
      $ref: ./components/responses.yml#/ForbiddenResponse
    FulfillmentRequestAcceptedResponse:
      $ref: ./components/responses.yml#/FulfillmentRequestAcceptedResponse
    InternalServerErrorResponse:
      $ref: ./components/responses.yml#/InternalServerErrorResponse
    NotAcceptableResponse:
      $ref: ./components/responses.yml#/NotAcceptableResponse
    NotFoundResponse:
      $ref: ./components/responses.yml#/NotFoundResponse
    NotImplementedResponse:
      $ref: ./components/responses.yml#/NotImplementedResponse
    ServiceUnavailableResponse:
      $ref: ./components/responses.yml#/ServiceUnavailableResponse
    UnauthorizedResponse:
      $ref: ./components/responses.yml#/UnauthorizedResponse
    UnsupportedMediaTypeResponse:
      $ref: ./components/responses.yml#/UnsupportedMediaTypeResponse
  schemas:
    AbstractBookingPart:
      $ref: ./schemas/booking.yml#/AbstractBookingPart
    AbstractOfferPart:
      $ref: ./schemas/offer.yml#/AbstractOfferPart
    AbstractTransportableVehicleSpecification:
      $ref: ./schemas/transport.yml#/AbstractTransportableVehicleSpecification
    AbstractTravelAccount:
      $ref: ./schemas/travel-account.yml#/AbstractTravelAccount
    AbstractTravelAccountUnit:
      $ref: ./schemas/travel-account.yml#/AbstractTravelAccountUnit
    AccommodationSubType:
      $ref: ./schemas/place.yml#/AccommodationSubType
    AccommodationType:
      $ref: ./schemas/place.yml#/AccommodationType
    AccountingRef:
      $ref: ./schemas/_common.yml#/AccountingRef
    ActualPassengerType:
      $ref: ./schemas/passenger.yml#/ActualPassengerType
    AdditionalOfferCollectionResponse:
      $ref: ./schemas/offer.yml#/AdditionalOfferCollectionResponse
    Address:
      $ref: ./schemas/_common.yml#/Address
    AddressRef:
      $ref: ./schemas/_common.yml#/AddressRef
    Admission:
      $ref: ./schemas/offer.yml#/Admission
    AdmissionOfferPart:
      $ref: ./schemas/offer.yml#/AdmissionOfferPart
    AfterSaleCondition:
      $ref: ./schemas/aftersales.yml#/AfterSaleCondition
    AfterSaleConditionType:
      $ref: ./schemas/aftersales.yml#/AfterSaleConditionType
    AfterSalesConditionsLink:
      $ref: ./schemas/aftersales.yml#/AfterSalesConditionsLink
    AfterSalesOverrideDetails:
      $ref: ./schemas/aftersales.yml#/AfterSalesOverrideDetails
    Alight:
      $ref: ./schemas/trip.yml#/Alight
    AlightSpecification:
      $ref: ./schemas/trip.yml#/AlightSpecification
    Ancillary:
      $ref: ./schemas/offer.yml#/Ancillary
    AncillaryGroup:
      $ref: ./schemas/offer.yml#/AncillaryGroup
    AncillaryOfferPart:
      $ref: ./schemas/offer.yml#/AncillaryOfferPart
    AncillaryRelation:
      $ref: ./schemas/offer.yml#/AncillaryRelation
    AncillarySelection:
      $ref: ./schemas/offer.yml#/AncillarySelection
    AncillaryType:
      $ref: ./schemas/offer.yml#/AncillaryType
    AnonymousPassengerSpecification:
      $ref: ./schemas/passenger.yml#/AnonymousPassengerSpecification
    ApiNextVersion:
      $ref: ./schemas/_common.yml#/ApiNextVersion
    ApiVersion:
      $ref: ./schemas/_common.yml#/ApiVersion
    ApplicabilityType:
      $ref: ./schemas/_common.yml#/ApplicabilityType
    AppliedPassengerType:
      $ref: ./schemas/passenger.yml#/AppliedPassengerType
    AttachableItemType:
      $ref: ./schemas/transport.yml#/AttachableItemType
    AvailabilityScope:
      $ref: ./schemas/place.yml#/AvailabilityScope
    AvailabilityStatus:
      $ref: ./schemas/place.yml#/AvailabilityStatus
    AvailablePlace:
      $ref: ./schemas/place.yml#/AvailablePlace
    AvailablePlacePreferences:
      $ref: ./schemas/place.yml#/AvailablePlacePreferences
    BackOfficeStatus:
      $ref: ./schemas/_common.yml#/BackOfficeStatus
    BankAccountReference:
      $ref: ./schemas/_common.yml#/BankAccountReference
    BankIdCode:
      $ref: ./schemas/_common.yml#/BankIdCode
    BarCodeType:
      $ref: ./schemas/_common.yml#/BarCodeType
    BaseTripPolicyFilter:
      $ref: ./schemas/trip.yml#/BaseTripPolicyFilter
    Board:
      $ref: ./schemas/trip.yml#/Board
    BoardSpecification:
      $ref: ./schemas/trip.yml#/BoardSpecification
    BookedOffer:
      $ref: ./schemas/booking.yml#/BookedOffer
    BookedOfferAncillaryRequest:
      $ref: ./schemas/booking.yml#/BookedOfferAncillaryRequest
    BookedOfferAncillaryResponse:
      $ref: ./schemas/booking.yml#/BookedOfferAncillaryResponse
    BookedOfferPartDeleteRequest:
      $ref: ./schemas/booking.yml#/BookedOfferPartDeleteRequest
    BookedOfferPartRequest:
      $ref: ./schemas/booking.yml#/BookedOfferPartRequest
    BookedOfferPartResponse:
      $ref: ./schemas/booking.yml#/BookedOfferPartResponse
    BookedOfferRequest:
      $ref: ./schemas/booking.yml#/BookedOfferRequest
    BookedOfferReservationRequest:
      $ref: ./schemas/booking.yml#/BookedOfferReservationRequest
    BookedOfferReservationResponse:
      $ref: ./schemas/booking.yml#/BookedOfferReservationResponse
    BookedOfferResponse:
      $ref: ./schemas/booking.yml#/BookedOfferResponse
    BookedOfferSummary:
      $ref: ./schemas/booking.yml#/BookedOfferSummary
    Booking:
      $ref: ./schemas/booking.yml#/Booking
    BookingCleanupRequest:
      $ref: ./schemas/booking.yml#/BookingCleanupRequest
    BookingHistoryResponse:
      $ref: ./schemas/booking.yml#/BookingHistoryResponse
    BookingPartReference:
      $ref: ./schemas/booking.yml#/BookingPartReference
    BookingPartStatus:
      $ref: ./schemas/booking.yml#/BookingPartStatus
    BookingPartSummary:
      $ref: ./schemas/booking.yml#/BookingPartSummary
    BookingPartType:
      $ref: ./schemas/booking.yml#/BookingPartType
    BookingPatchRequest:
      $ref: ./schemas/booking.yml#/BookingPatchRequest
    BookingRequest:
      $ref: ./schemas/booking.yml#/BookingRequest
    BookingResponse:
      $ref: ./schemas/booking.yml#/BookingResponse
    BookingResponseContent:
      $ref: ./schemas/booking.yml#/BookingResponseContent
    BookingSearchParameters:
      $ref: ./schemas/booking.yml#/BookingSearchParameters
    BookingSearchRequest:
      $ref: ./schemas/booking.yml#/BookingSearchRequest
    BookingSearchResponse:
      $ref: ./schemas/booking.yml#/BookingSearchResponse
    BookingSearchResult:
      $ref: ./schemas/booking.yml#/BookingSearchResult
    BookingSplit:
      $ref: ./schemas/booking.yml#/BookingSplit
    BookingSplitGroup:
      $ref: ./schemas/booking.yml#/BookingSplitGroup
    BookingSplitRequest:
      $ref: ./schemas/booking.yml#/BookingSplitRequest
    BookingSplitResponse:
      $ref: ./schemas/booking.yml#/BookingSplitResponse
    BookingSplitResult:
      $ref: ./schemas/booking.yml#/BookingSplitResult
    BorderRadius:
      $ref: ./schemas/place.yml#/BorderRadius
    Calendar:
      $ref: ./schemas/_common.yml#/Calendar
    CancelFulfillmentsOffer:
      $ref: ./schemas/aftersales.yml#/CancelFulfillmentsOffer
    CancelFulfillmentsOfferCollectionResponse:
      $ref: ./schemas/aftersales.yml#/CancelFulfillmentsOfferCollectionResponse
    CancelFulfillmentsOfferPatchRequest:
      $ref: ./schemas/aftersales.yml#/CancelFulfillmentsOfferPatchRequest
    CancelFulfillmentsOfferRequest:
      $ref: ./schemas/aftersales.yml#/CancelFulfillmentsOfferRequest
    CancelFulfillmentsOfferResponse:
      $ref: ./schemas/aftersales.yml#/CancelFulfillmentsOfferResponse
    CancelFulfillmentsStatus:
      $ref: ./schemas/aftersales.yml#/CancelFulfillmentsStatus
    Car:
      $ref: ./schemas/transport.yml#/Car
    CardReference:
      $ref: ./schemas/_common.yml#/CardReference
    CardTypeReference:
      $ref: ./schemas/_common.yml#/CardTypeReference
    CarRack:
      $ref: ./schemas/transport.yml#/CarRack
    CarrierConstraint:
      $ref: ./schemas/product.yml#/CarrierConstraint
    CarrierFilter:
      $ref: ./schemas/_common.yml#/CarrierFilter
    CarSpecification:
      $ref: ./schemas/transport.yml#/CarSpecification
    ClaimedJourneyDetails:
      $ref: ./schemas/complaint.yml#/ClaimedJourneyDetails
    ClaimedLeg:
      $ref: ./schemas/complaint.yml#/ClaimedLeg
    Coach:
      $ref: ./schemas/place.yml#/Coach
    CoachAvailability:
      $ref: ./schemas/place.yml#/CoachAvailability
    CoachDeckLayout:
      $ref: ./schemas/place.yml#/CoachDeckLayout
    CoachDeckLayoutCollectionResponse:
      $ref: ./schemas/place.yml#/CoachDeckLayoutCollectionResponse
    CoachDeckLayoutResponse:
      $ref: ./schemas/place.yml#/CoachDeckLayoutResponse
    CoachDeckLevel:
      $ref: ./schemas/place.yml#/CoachDeckLevel
    CoachLayout:
      $ref: ./schemas/place.yml#/CoachLayout
    CoachLayoutCollectionResponse:
      $ref: ./schemas/place.yml#/CoachLayoutCollectionResponse
    CoachLayoutCompartmentNumber:
      $ref: ./schemas/place.yml#/CoachLayoutCompartmentNumber
    CoachLayoutDirectedInternal:
      $ref: ./schemas/place.yml#/CoachLayoutDirectedInternal
    CoachLayoutGridSize:
      $ref: ./schemas/place.yml#/CoachLayoutGridSize
    CoachLayoutInternal:
      $ref: ./schemas/place.yml#/CoachLayoutInternal
    CoachLayoutPlace:
      $ref: ./schemas/place.yml#/CoachLayoutPlace
    CoachLayoutResponse:
      $ref: ./schemas/place.yml#/CoachLayoutResponse
    CoachLayoutSign:
      $ref: ./schemas/place.yml#/CoachLayoutSign
    CombinationTag:
      $ref: ./schemas/offer.yml#/CombinationTag
    CompanyDetail:
      $ref: ./schemas/_common.yml#/CompanyDetail
    CompanyRef:
      $ref: ./schemas/_common.yml#/CompanyRef
    Compartment:
      $ref: ./schemas/place.yml#/Compartment
    CompartmentAvailability:
      $ref: ./schemas/place.yml#/CompartmentAvailability
    CompartmentPreSelection:
      $ref: ./schemas/place.yml#/CompartmentPreSelection
    Complaint:
      $ref: ./schemas/complaint.yml#/Complaint
    ComplaintChangeReason:
      $ref: ./schemas/complaint.yml#/ComplaintChangeReason
    ComplaintDecision:
      $ref: ./schemas/complaint.yml#/ComplaintDecision
    ComplaintPatchRequest:
      $ref: ./schemas/complaint.yml#/ComplaintPatchRequest
    ComplaintResponse:
      $ref: ./schemas/complaint.yml#/ComplaintResponse
    Condition:
      $ref: ./schemas/_common.yml#/Condition
    ConditionType:
      $ref: ./schemas/_common.yml#/ConditionType
    ContactDetail:
      $ref: ./schemas/_common.yml#/ContactDetail
    ContextType:
      $ref: ./schemas/_common.yml#/ContextType
    ContinuousLeg:
      $ref: ./schemas/trip.yml#/ContinuousLeg
    ContinuousMode:
      $ref: ./schemas/continuous-service.yml#/ContinuousMode
    ContinuousService:
      $ref: ./schemas/continuous-service.yml#/ContinuousService
    ContinuousServiceAvailabilityScope:
      $ref: ./schemas/continuous-service.yml#/ContinuousServiceAvailabilityScope
    ContinuousServiceBookingPart:
      $ref: ./schemas/booking.yml#/ContinuousServiceBookingPart
    ContinuousServiceOfferPart:
      $ref: ./schemas/offer.yml#/ContinuousServiceOfferPart
    ContinuousServicePickUpPlace:
      $ref: ./schemas/continuous-service.yml#/ContinuousServicePickUpPlace
    ContinuousServiceProcessIndication:
      $ref: ./schemas/continuous-service.yml#/ContinuousServiceProcessIndication
    ContinuousServicesAvailabilityResponse:
      $ref: ./schemas/continuous-service.yml#/ContinuousServicesAvailabilityResponse
    ContinuousServiceUsage:
      $ref: ./schemas/continuous-service.yml#/ContinuousServiceUsage
    ContinuousServiceUsagePatchRequest:
      $ref: ./schemas/continuous-service.yml#/ContinuousServiceUsagePatchRequest
    ContinuousServiceUsageStatus:
      $ref: ./schemas/continuous-service.yml#/ContinuousServiceUsageStatus
    ContinuousServiceVehicleAvailability:
      $ref: ./schemas/continuous-service.yml#/ContinuousServiceVehicleAvailability
    ContinuousServiceVehicleSelection:
      $ref: ./schemas/continuous-service.yml#/ContinuousServiceVehicleSelection
    ContinuousServiceVehicleType:
      $ref: ./schemas/continuous-service.yml#/ContinuousServiceVehicleType
    ControlSecurityType:
      $ref: ./schemas/fulfillment.yml#/ControlSecurityType
    CorporateCode:
      $ref: ./schemas/_common.yml#/CorporateCode
    CountryCode:
      $ref: ./schemas/_common.yml#/CountryCode
    Currency:
      $ref: ./schemas/_common.yml#/Currency
    CurrencyAmount:
      $ref: ./schemas/_common.yml#/CurrencyAmount
    CurrencyConversion:
      $ref: ./schemas/_common.yml#/CurrencyConversion
    CustomerComplaint:
      $ref: ./schemas/complaint.yml#/CustomerComplaint
    DatedJourney:
      $ref: ./schemas/trip.yml#/DatedJourney
    DateRange:
      $ref: ./schemas/_common.yml#/DateRange
    DayTravelAccountUnit:
      $ref: ./schemas/travel-account.yml#/DayTravelAccountUnit
    DecisionType:
      $ref: ./schemas/complaint.yml#/DecisionType
    DeckAvailability:
      $ref: ./schemas/place.yml#/DeckAvailability
    DirectionChange:
      $ref: ./schemas/transport.yml#/DirectionChange
    DirectionType:
      $ref: ./schemas/transport.yml#/DirectionType
    DistributionMode:
      $ref: ./schemas/_common.yml#/DistributionMode
    Document:
      $ref: ./schemas/fulfillment.yml#/Document
    DocumentCollectionResponse:
      $ref: ./schemas/fulfillment.yml#/DocumentCollectionResponse
    DocumentFormat:
      $ref: ./schemas/fulfillment.yml#/DocumentFormat
    DocumentRequest:
      $ref: ./schemas/fulfillment.yml#/DocumentRequest
    DocumentResponse:
      $ref: ./schemas/fulfillment.yml#/DocumentResponse
    DocumentScope:
      $ref: ./schemas/fulfillment.yml#/DocumentScope
    DocumentSpecification:
      $ref: ./schemas/fulfillment.yml#/DocumentSpecification
    DocumentType:
      $ref: ./schemas/fulfillment.yml#/DocumentType
    Event:
      $ref: ./schemas/_common.yml#/Event
    EventDetail:
      $ref: ./schemas/_common.yml#/EventDetail
    EventType:
      $ref: ./schemas/_common.yml#/EventType
    ExchangeableType:
      $ref: ./schemas/aftersales.yml#/ExchangeableType
    ExchangeBreakdownItem:
      $ref: ./schemas/aftersales.yml#/ExchangeBreakdownItem
    ExchangeOffer:
      $ref: ./schemas/aftersales.yml#/ExchangeOffer
    ExchangeOfferCollectionRequest:
      $ref: ./schemas/aftersales.yml#/ExchangeOfferCollectionRequest
    ExchangeOfferCollectionResponse:
      $ref: ./schemas/aftersales.yml#/ExchangeOfferCollectionResponse
    ExchangeOfferCollectionResponseContent:
      $ref: ./schemas/aftersales.yml#/ExchangeOfferCollectionResponseContent
    ExchangeOperation:
      $ref: ./schemas/aftersales.yml#/ExchangeOperation
    ExchangeOperationPatchRequest:
      $ref: ./schemas/aftersales.yml#/ExchangeOperationPatchRequest
    ExchangeOperationRequest:
      $ref: ./schemas/aftersales.yml#/ExchangeOperationRequest
    ExchangeOperationResponse:
      $ref: ./schemas/aftersales.yml#/ExchangeOperationResponse
    ExchangeOperationResponseContent:
      $ref: ./schemas/aftersales.yml#/ExchangeOperationResponseContent
    ExchangeStatus:
      $ref: ./schemas/aftersales.yml#/ExchangeStatus
    ExcludedTimeRange:
      $ref: ./schemas/_common.yml#/ExcludedTimeRange
    ExclusionScope:
      $ref: ./schemas/product.yml#/ExclusionScope
    Fare:
      $ref: ./schemas/product.yml#/Fare
    FareCombinationModel:
      $ref: ./schemas/product.yml#/FareCombinationModel
    FareConnectionPoint:
      $ref: ./schemas/product.yml#/FareConnectionPoint
    FareConnectionPointRef:
      $ref: ./schemas/product.yml#/FareConnectionPointRef
    FareReferenceStation:
      $ref: ./schemas/product.yml#/FareReferenceStation
    FareType:
      $ref: ./schemas/product.yml#/FareType
    Fee:
      $ref: ./schemas/_common.yml#/Fee
    FeeStatus:
      $ref: ./schemas/_common.yml#/FeeStatus
    Flexibility:
      $ref: ./schemas/offer.yml#/Flexibility
    Fulfillment:
      $ref: ./schemas/fulfillment.yml#/Fulfillment
    FulfillmentActivationPatchRequest:
      $ref: ./schemas/fulfillment.yml#/FulfillmentActivationPatchRequest
    FulfillmentCollectionResponse:
      $ref: ./schemas/fulfillment.yml#/FulfillmentCollectionResponse
    FulfillmentConstraint:
      $ref: ./schemas/fulfillment.yml#/FulfillmentConstraint
    FulfillmentDocument:
      $ref: ./schemas/fulfillment.yml#/FulfillmentDocument
    FulfillmentDocumentType:
      $ref: ./schemas/fulfillment.yml#/FulfillmentDocumentType
    FulfillmentId:
      $ref: ./schemas/fulfillment.yml#/FulfillmentId
    FulfillmentItemSecurityFeature:
      $ref: ./schemas/fulfillment.yml#/FulfillmentItemSecurityFeature
    FulfillmentItemSecurityFeatureLinks:
      $ref: ./schemas/fulfillment.yml#/FulfillmentItemSecurityFeatureLinks
    FulfillmentMediaType:
      $ref: ./schemas/fulfillment.yml#/FulfillmentMediaType
    FulfillmentOption:
      $ref: ./schemas/fulfillment.yml#/FulfillmentOption
    FulfillmentPart:
      $ref: ./schemas/fulfillment.yml#/FulfillmentPart
    FulfillmentPatchRequest:
      $ref: ./schemas/fulfillment.yml#/FulfillmentPatchRequest
    FulfillmentPostRequest:
      $ref: ./schemas/fulfillment.yml#/FulfillmentPostRequest
    FulfillmentResponse:
      $ref: ./schemas/fulfillment.yml#/FulfillmentResponse
    FulfillmentStatus:
      $ref: ./schemas/fulfillment.yml#/FulfillmentStatus
    FulfillmentSummaryStatus:
      $ref: ./schemas/fulfillment.yml#/FulfillmentSummaryStatus
    FulfillmentType:
      $ref: ./schemas/fulfillment.yml#/FulfillmentType
    FulfillmentUsage:
      $ref: ./schemas/fulfillment.yml#/FulfillmentUsage
    Gender:
      $ref: ./schemas/_common.yml#/Gender
    GeneralAttribute:
      $ref: ./schemas/_common.yml#/GeneralAttribute
    GeoPosition:
      $ref: ./schemas/_common.yml#/GeoPosition
    GeoPositionRef:
      $ref: ./schemas/_common.yml#/GeoPositionRef
    GrantedReductionAmount:
      $ref: ./schemas/passenger.yml#/GrantedReductionAmount
    GrantedReductionAmounts:
      $ref: ./schemas/passenger.yml#/GrantedReductionAmounts
    GraphicElement:
      $ref: ./schemas/place.yml#/GraphicElement
    GraphicElementCode:
      $ref: ./schemas/place.yml#/GraphicElementCode
    GridDimension:
      $ref: ./schemas/place.yml#/GridDimension
    GridPosition:
      $ref: ./schemas/place.yml#/GridPosition
    HistoryStatus:
      $ref: ./schemas/_common.yml#/HistoryStatus
    IdentificationCard:
      $ref: ./schemas/_common.yml#/IdentificationCard
    ImpactType:
      $ref: ./schemas/complaint.yml#/ImpactType
    IndicatedConsumption:
      $ref: ./schemas/travel-account.yml#/IndicatedConsumption
    IndividualMode:
      $ref: ./schemas/_common.yml#/IndividualMode
    InitialPlaceInput:
      $ref: ./schemas/place.yml#/InitialPlaceInput
    Intermediate:
      $ref: ./schemas/trip.yml#/Intermediate
    IntermediateSpecification:
      $ref: ./schemas/trip.yml#/IntermediateSpecification
    JourneyRef:
      $ref: ./schemas/trip.yml#/JourneyRef
    Latitude:
      $ref: ./schemas/_common.yml#/Latitude
    LayoutCoordinates:
      $ref: ./schemas/place.yml#/LayoutCoordinates
    LegacyAccountingIdentifier:
      $ref: ./schemas/_common.yml#/LegacyAccountingIdentifier
    LegacyReservationParameter:
      $ref: ./schemas/_common.yml#/LegacyReservationParameter
    LegacyReservationTariff:
      $ref: ./schemas/_common.yml#/LegacyReservationTariff
    LegAttribute:
      $ref: ./schemas/_common.yml#/LegAttribute
    Line:
      $ref: ./schemas/_common.yml#/Line
    LineNumber:
      $ref: ./schemas/_common.yml#/LineNumber
    Links:
      $ref: ./schemas/_common.yml#/Links
    Longitude:
      $ref: ./schemas/_common.yml#/Longitude
    LuggageConstraint:
      $ref: ./schemas/product.yml#/LuggageConstraint
    LuggageDimension:
      $ref: ./schemas/product.yml#/LuggageDimension
    LuggageDimensionEnum:
      $ref: ./schemas/product.yml#/LuggageDimensionEnum
    LuggageRestriction:
      $ref: ./schemas/product.yml#/LuggageRestriction
    LuggageRestrictionRuleEnum:
      $ref: ./schemas/product.yml#/LuggageRestrictionRuleEnum
    Mode:
      $ref: ./schemas/_common.yml#/Mode
    ModeFilter:
      $ref: ./schemas/_common.yml#/ModeFilter
    MoneyTravelAccountUnit:
      $ref: ./schemas/travel-account.yml#/MoneyTravelAccountUnit
    MotorCycle:
      $ref: ./schemas/transport.yml#/MotorCycle
    MotorcycleSpecification:
      $ref: ./schemas/transport.yml#/MotorcycleSpecification
    MountingType:
      $ref: ./schemas/transport.yml#/MountingType
    MultiRideAccount:
      $ref: ./schemas/travel-account.yml#/MultiRideAccount
    MultiRideBalance:
      $ref: ./schemas/travel-account.yml#/MultiRideBalance
    NamedCompany:
      $ref: ./schemas/_common.yml#/NamedCompany
    NamedTravelAccountUnit:
      $ref: ./schemas/travel-account.yml#/NamedTravelAccountUnit
    NonTripSearchCriteria:
      $ref: ./schemas/trip.yml#/NonTripSearchCriteria
    NotVia:
      $ref: ./schemas/trip.yml#/NotVia
    Offer:
      $ref: ./schemas/offer.yml#/Offer
    OfferCollectionRequest:
      $ref: ./schemas/offer.yml#/OfferCollectionRequest
    OfferCollectionResponse:
      $ref: ./schemas/offer.yml#/OfferCollectionResponse
    OfferCollectionResponseContent:
      $ref: ./schemas/offer.yml#/OfferCollectionResponseContent
    OfferMode:
      $ref: ./schemas/offer.yml#/OfferMode
    OfferOverviewRoute:
      $ref: ./schemas/_common.yml#/OfferOverviewRoute
    OfferOverviewRouteRequest:
      $ref: ./schemas/offer.yml#/OfferOverviewRouteRequest
    OfferOverviewRouteResponse:
      $ref: ./schemas/offer.yml#/OfferOverviewRouteResponse
    OfferOverviewTrip:
      $ref: ./schemas/_common.yml#/OfferOverviewTrip
    OfferOverviewTripRequest:
      $ref: ./schemas/offer.yml#/OfferOverviewTripRequest
    OfferOverviewTripResponse:
      $ref: ./schemas/offer.yml#/OfferOverviewTripResponse
    OfferPartReference:
      $ref: ./schemas/offer.yml#/OfferPartReference
    OfferPartType:
      $ref: ./schemas/offer.yml#/OfferPartType
    OfferSearchCriteria:
      $ref: ./schemas/offer.yml#/OfferSearchCriteria
    OfferSelection:
      $ref: ./schemas/offer.yml#/OfferSelection
    OfferSummary:
      $ref: ./schemas/offer.yml#/OfferSummary
    OfferTag:
      $ref: ./schemas/offer.yml#/OfferTag
    OnHoldOffer:
      $ref: ./schemas/offer.yml#/OnHoldOffer
    OnHoldOfferPatchRequest:
      $ref: ./schemas/offer.yml#/OnHoldOfferPatchRequest
    OnHoldOfferRequest:
      $ref: ./schemas/offer.yml#/OnHoldOfferRequest
    OnHoldOfferResponse:
      $ref: ./schemas/offer.yml#/OnHoldOfferResponse
    OperatingDays:
      $ref: ./schemas/trip.yml#/OperatingDays
    OperationDayRef:
      $ref: ./schemas/trip.yml#/OperationDayRef
    Orientation:
      $ref: ./schemas/place.yml#/Orientation
    OsmTag:
      $ref: ./schemas/_common.yml#/OsmTag
    OverruleCode:
      $ref: ./schemas/_common.yml#/OverruleCode
    PartReference:
      $ref: ./schemas/booking.yml#/PartReference
    Passenger:
      $ref: ./schemas/passenger.yml#/Passenger
    PassengerCategory:
      $ref: ./schemas/passenger.yml#/PassengerCategory
    PassengerConstraints:
      $ref: ./schemas/passenger.yml#/PassengerConstraints
    PassengerResponse:
      $ref: ./schemas/passenger.yml#/PassengerResponse
    PassengersBatchUpdateRequest:
      $ref: ./schemas/passenger.yml#/PassengersBatchUpdateRequest
    PassengersCollectionResponse:
      $ref: ./schemas/passenger.yml#/PassengersCollectionResponse
    PassengerSearchRequest:
      $ref: ./schemas/passenger.yml#/PassengerSearchRequest
    PassengerSpecification:
      $ref: ./schemas/passenger.yml#/PassengerSpecification
    PassengerType:
      $ref: ./schemas/passenger.yml#/PassengerType
    PaymentMethod:
      $ref: ./schemas/_common.yml#/PaymentMethod
    PaymentType:
      $ref: ./schemas/_common.yml#/PaymentType
    PersonDetail:
      $ref: ./schemas/_common.yml#/PersonDetail
    Place:
      $ref: ./schemas/place.yml#/Place
    PlaceAllocation:
      $ref: ./schemas/place.yml#/PlaceAllocation
    PlaceAvailability:
      $ref: ./schemas/place.yml#/PlaceAvailability
    PlaceAvailabilityCollectionResponse:
      $ref: ./schemas/place.yml#/PlaceAvailabilityCollectionResponse
    PlaceAvailabilityMapRequest:
      $ref: ./schemas/place.yml#/PlaceAvailabilityMapRequest
    PlaceAvailabilityMapResponse:
      $ref: ./schemas/place.yml#/PlaceAvailabilityMapResponse
    PlaceAvailabilityResponse:
      $ref: ./schemas/place.yml#/PlaceAvailabilityResponse
    PlaceGroup:
      $ref: ./schemas/place.yml#/PlaceGroup
    PlaceLayout:
      $ref: ./schemas/place.yml#/PlaceLayout
    PlaceParam:
      $ref: ./schemas/place.yml#/PlaceParam
    PlacePosition:
      $ref: ./schemas/place.yml#/PlacePosition
    PlacePreferenceGroup:
      $ref: ./schemas/place.yml#/PlacePreferenceGroup
    PlacePreSelection:
      $ref: ./schemas/place.yml#/PlacePreSelection
    PlaceProperty:
      $ref: ./schemas/place.yml#/PlaceProperty
    PlaceRef:
      $ref: ./schemas/place.yml#/PlaceRef
    PlaceRequest:
      $ref: ./schemas/place.yml#/PlaceRequest
    PlaceResponse:
      $ref: ./schemas/place.yml#/PlaceResponse
    PlaceRestriction:
      $ref: ./schemas/place.yml#/PlaceRestriction
    PlaceSelection:
      $ref: ./schemas/place.yml#/PlaceSelection
    PlaceSelectionFlow:
      $ref: ./schemas/place.yml#/PlaceSelectionFlow
    PlaceType:
      $ref: ./schemas/place.yml#/PlaceType
    PlaceUsage:
      $ref: ./schemas/place.yml#/PlaceUsage
    PointOfInterest:
      $ref: ./schemas/place.yml#/PointOfInterest
    PointOfInterestCategory:
      $ref: ./schemas/place.yml#/PointOfInterestCategory
    PointOfInterestFilter:
      $ref: ./schemas/place.yml#/PointOfInterestFilter
    PointOfInterestRef:
      $ref: ./schemas/place.yml#/PointOfInterestRef
    Polygon:
      $ref: ./schemas/_common.yml#/Polygon
    PostalAddress:
      $ref: ./schemas/_common.yml#/PostalAddress
    Price:
      $ref: ./schemas/_common.yml#/Price
    PRMNeedType:
      $ref: ./schemas/passenger.yml#/PRMNeedType
    Problem:
      $ref: ./schemas/_common.yml#/Problem
    ProblemPointer:
      $ref: ./schemas/_common.yml#/ProblemPointer
    Product:
      $ref: ./schemas/product.yml#/Product
    ProductCategory:
      $ref: ./schemas/product.yml#/ProductCategory
    ProductCategoryRef:
      $ref: ./schemas/product.yml#/ProductCategoryRef
    ProductCollectionResponse:
      $ref: ./schemas/product.yml#/ProductCollectionResponse
    ProductLegAssociation:
      $ref: ./schemas/offer.yml#/ProductLegAssociation
    ProductRequestOfferSelection:
      $ref: ./schemas/offer.yml#/ProductRequestOfferSelection
    ProductResponse:
      $ref: ./schemas/product.yml#/ProductResponse
    ProductSearchRequest:
      $ref: ./schemas/product.yml#/ProductSearchRequest
    ProductSearchResponse:
      $ref: ./schemas/product.yml#/ProductSearchResponse
    ProductSummary:
      $ref: ./schemas/product.yml#/ProductSummary
    ProductTag:
      $ref: ./schemas/product.yml#/ProductTag
    ProductTagGroup:
      $ref: ./schemas/product.yml#/ProductTagGroup
    ProductTagName:
      $ref: ./schemas/product.yml#/ProductTagName
    ProductTagsResponse:
      $ref: ./schemas/product.yml#/ProductTagsResponse
    ProductType:
      $ref: ./schemas/product.yml#/ProductType
    PromotionCode:
      $ref: ./schemas/_common.yml#/PromotionCode
    PromotionCodeCollectionResponse:
      $ref: ./schemas/product.yml#/PromotionCodeCollectionResponse
    PTMode:
      $ref: ./schemas/_common.yml#/PTMode
    Purchaser:
      $ref: ./schemas/passenger.yml#/Purchaser
    PurchaserResponse:
      $ref: ./schemas/passenger.yml#/PurchaserResponse
    PurchaserSearchRequest:
      $ref: ./schemas/passenger.yml#/PurchaserSearchRequest
    PurchaserSpecification:
      $ref: ./schemas/passenger.yml#/PurchaserSpecification
    Quantity:
      $ref: ./schemas/_common.yml#/Quantity
    RectangleGeometry:
      $ref: ./schemas/place.yml#/RectangleGeometry
    ReductionCardAccount:
      $ref: ./schemas/passenger.yml#/ReductionCardAccount
    ReductionCardCollectionResponse:
      $ref: ./schemas/passenger.yml#/ReductionCardCollectionResponse
    ReductionCardType:
      $ref: ./schemas/passenger.yml#/ReductionCardType
    ReductionGranted:
      $ref: ./schemas/passenger.yml#/ReductionGranted
    RefundOffer:
      $ref: ./schemas/aftersales.yml#/RefundOffer
    RefundOfferBreakdownItem:
      $ref: ./schemas/aftersales.yml#/RefundOfferBreakdownItem
    RefundOfferCollectionResponse:
      $ref: ./schemas/aftersales.yml#/RefundOfferCollectionResponse
    RefundOfferPatchRequest:
      $ref: ./schemas/aftersales.yml#/RefundOfferPatchRequest
    RefundOfferRequest:
      $ref: ./schemas/aftersales.yml#/RefundOfferRequest
    RefundOfferResponse:
      $ref: ./schemas/aftersales.yml#/RefundOfferResponse
    RefundSpecification:
      $ref: ./schemas/aftersales.yml#/RefundSpecification
    RefundStatus:
      $ref: ./schemas/aftersales.yml#/RefundStatus
    RefundType:
      $ref: ./schemas/aftersales.yml#/RefundType
    RegionalConstraint:
      $ref: ./schemas/product.yml#/RegionalConstraint
    RegionalValidity:
      $ref: ./schemas/product.yml#/RegionalValidity
    RegionalValiditySummary:
      $ref: ./schemas/product.yml#/RegionalValiditySummary
    RegulatoryCondition:
      $ref: ./schemas/_common.yml#/RegulatoryCondition
    Reimbursement:
      $ref: ./schemas/complaint.yml#/Reimbursement
    ReimbursementDecision:
      $ref: ./schemas/complaint.yml#/ReimbursementDecision
    ReimbursementMethod:
      $ref: ./schemas/complaint.yml#/ReimbursementMethod
    ReimbursementPatchRequest:
      $ref: ./schemas/complaint.yml#/ReimbursementPatchRequest
    ReimbursementReason:
      $ref: ./schemas/complaint.yml#/ReimbursementReason
    ReimbursementRequest:
      $ref: ./schemas/complaint.yml#/ReimbursementRequest
    ReimbursementResponse:
      $ref: ./schemas/complaint.yml#/ReimbursementResponse
    ReimbursementStatus:
      $ref: ./schemas/complaint.yml#/ReimbursementStatus
    ReleaseOffer:
      $ref: ./schemas/aftersales.yml#/ReleaseOffer
    ReleaseOfferCollectionResponse:
      $ref: ./schemas/aftersales.yml#/ReleaseOfferCollectionResponse
    ReleaseOfferPatchRequest:
      $ref: ./schemas/aftersales.yml#/ReleaseOfferPatchRequest
    ReleaseOfferRequest:
      $ref: ./schemas/aftersales.yml#/ReleaseOfferRequest
    ReleaseOfferRequestAsyncResponse:
      $ref: ./schemas/aftersales.yml#/ReleaseOfferRequestAsyncResponse
    ReleaseOfferResponse:
      $ref: ./schemas/aftersales.yml#/ReleaseOfferResponse
    ReleaseStatus:
      $ref: ./schemas/aftersales.yml#/ReleaseStatus
    RemarkType:
      $ref: ./schemas/_common.yml#/RemarkType
    RequestedInformation:
      $ref: ./schemas/_common.yml#/RequestedInformation
    Reservation:
      $ref: ./schemas/offer.yml#/Reservation
    ReservationGroup:
      $ref: ./schemas/offer.yml#/ReservationGroup
    ReservationOfferPart:
      $ref: ./schemas/offer.yml#/ReservationOfferPart
    ReservationReference:
      $ref: ./schemas/offer.yml#/ReservationReference
    ReservationRelation:
      $ref: ./schemas/offer.yml#/ReservationRelation
    ReservationSelection:
      $ref: ./schemas/offer.yml#/ReservationSelection
    ReservedPlace:
      $ref: ./schemas/offer.yml#/ReservedPlace
    Resource:
      $ref: ./schemas/_common.yml#/Resource
    ResourceType:
      $ref: ./schemas/_common.yml#/ResourceType
    ReturnConstraint:
      $ref: ./schemas/_common.yml#/ReturnConstraint
    ReturnSearchParameters:
      $ref: ./schemas/trip.yml#/ReturnSearchParameters
    Route:
      $ref: ./schemas/trip.yml#/Route
    RouteItem:
      $ref: ./schemas/trip.yml#/RouteItem
    RouteSpecification:
      $ref: ./schemas/trip.yml#/RouteSpecification
    Section:
      $ref: ./schemas/trip.yml#/Section
    SecurityElementFormat:
      $ref: ./schemas/fulfillment.yml#/SecurityElementFormat
    SecurityElementType:
      $ref: ./schemas/fulfillment.yml#/SecurityElementType
    SecurityFeatureType:
      $ref: ./schemas/fulfillment.yml#/SecurityFeatureType
    SelectedAccommodation:
      $ref: ./schemas/place.yml#/SelectedAccommodation
    SelectedCompartment:
      $ref: ./schemas/place.yml#/SelectedCompartment
    SelectedPlace:
      $ref: ./schemas/place.yml#/SelectedPlace
    SelectedReferencePlace:
      $ref: ./schemas/place.yml#/SelectedReferencePlace
    SelectionFee:
      $ref: ./schemas/_common.yml#/SelectionFee
    ServiceBrandCode:
      $ref: ./schemas/_common.yml#/ServiceBrandCode
    ServiceBrandFilter:
      $ref: ./schemas/_common.yml#/ServiceBrandFilter
    ServiceClass:
      $ref: ./schemas/_common.yml#/ServiceClass
    ServiceClassType:
      $ref: ./schemas/_common.yml#/ServiceClassType
    ServiceConstraint:
      $ref: ./schemas/_common.yml#/ServiceConstraint
    ServiceDegradation:
      $ref: ./schemas/_common.yml#/ServiceDegradation
    ServiceIcon:
      $ref: ./schemas/_common.yml#/ServiceIcon
    ServiceIconCode:
      $ref: ./schemas/_common.yml#/ServiceIconCode
    ServiceStatus:
      $ref: ./schemas/_common.yml#/ServiceStatus
    ServiceTime:
      $ref: ./schemas/_common.yml#/ServiceTime
    SiSType:
      $ref: ./schemas/fulfillment.yml#/SiSType
    SituationFullRef:
      $ref: ./schemas/_common.yml#/SituationFullRef
    SpecialCoachType:
      $ref: ./schemas/place.yml#/SpecialCoachType
    SpecificPlaceAvailability:
      $ref: ./schemas/place.yml#/SpecificPlaceAvailability
    StationSet:
      $ref: ./schemas/product.yml#/StationSet
    StopBehavior:
      $ref: ./schemas/trip.yml#/StopBehavior
    StopCallStatus:
      $ref: ./schemas/trip.yml#/StopCallStatus
    StopPlace:
      $ref: ./schemas/trip.yml#/StopPlace
    StopPlaceRef:
      $ref: ./schemas/trip.yml#/StopPlaceRef
    SupportingDocument:
      $ref: ./schemas/_common.yml#/SupportingDocument
    Symbology:
      $ref: ./schemas/_common.yml#/Symbology
    Text:
      $ref: ./schemas/_common.yml#/Text
    TextElement:
      $ref: ./schemas/_common.yml#/TextElement
    TextElementType:
      $ref: ./schemas/_common.yml#/TextElementType
    ThroughTicketTag:
      $ref: ./schemas/offer.yml#/ThroughTicketTag
    TimedLeg:
      $ref: ./schemas/trip.yml#/TimedLeg
    TimedLegSpecification:
      $ref: ./schemas/trip.yml#/TimedLegSpecification
    TimeFrameSegmentation:
      $ref: ./schemas/trip.yml#/TimeFrameSegmentation
    TimeUnit:
      $ref: ./schemas/_common.yml#/TimeUnit
    Tip:
      $ref: ./schemas/_common.yml#/Tip
    TrainLink:
      $ref: ./schemas/trip.yml#/TrainLink
    TrainValidity:
      $ref: ./schemas/product.yml#/TrainValidity
    TrainValidityScope:
      $ref: ./schemas/product.yml#/TrainValidityScope
    TransactionContextType:
      $ref: ./schemas/_common.yml#/TransactionContextType
    TransferLeg:
      $ref: ./schemas/trip.yml#/TransferLeg
    TransferMode:
      $ref: ./schemas/_common.yml#/TransferMode
    Translation:
      $ref: ./schemas/_common.yml#/Translation
    Transportable:
      $ref: ./schemas/transport.yml#/Transportable
    TransportableSpecification:
      $ref: ./schemas/transport.yml#/TransportableSpecification
    TransportableType:
      $ref: ./schemas/transport.yml#/TransportableType
    TravelAccountConsumption:
      $ref: ./schemas/travel-account.yml#/TravelAccountConsumption
    TravelAccountResponse:
      $ref: ./schemas/travel-account.yml#/TravelAccountResponse
    TravelAccountResponseContent:
      $ref: ./schemas/travel-account.yml#/TravelAccountResponseContent
    TravelAccountType:
      $ref: ./schemas/travel-account.yml#/TravelAccountType
    TravelClass:
      $ref: ./schemas/_common.yml#/TravelClass
    TravelDirectionType:
      $ref: ./schemas/_common.yml#/TravelDirectionType
    TravelPassAccount:
      $ref: ./schemas/travel-account.yml#/TravelPassAccount
    TravelValidity:
      $ref: ./schemas/product.yml#/TravelValidity
    TravelValidityRange:
      $ref: ./schemas/product.yml#/TravelValidityRange
    Trip:
      $ref: ./schemas/trip.yml#/Trip
    TripAllocationConstraint:
      $ref: ./schemas/trip.yml#/TripAllocationConstraint
    TripAllocationProcess:
      $ref: ./schemas/trip.yml#/TripAllocationProcess
    TripAllocationUnit:
      $ref: ./schemas/trip.yml#/TripAllocationUnit
    TripChangeCriteria:
      $ref: ./schemas/trip.yml#/TripChangeCriteria
    TripCollectionResponse:
      $ref: ./schemas/trip.yml#/TripCollectionResponse
    TripCoverage:
      $ref: ./schemas/trip.yml#/TripCoverage
    TripDataFilter:
      $ref: ./schemas/trip.yml#/TripDataFilter
    TripDirectionType:
      $ref: ./schemas/trip.yml#/TripDirectionType
    TripInterruptionConstraint:
      $ref: ./schemas/trip.yml#/TripInterruptionConstraint
    TripInterruptionProcess:
      $ref: ./schemas/trip.yml#/TripInterruptionProcess
    TripLeg:
      $ref: ./schemas/trip.yml#/TripLeg
    TripLegCoverage:
      $ref: ./schemas/trip.yml#/TripLegCoverage
    TripLegSpecification:
      $ref: ./schemas/trip.yml#/TripLegSpecification
    TripMobilityFilter:
      $ref: ./schemas/trip.yml#/TripMobilityFilter
    TripParameters:
      $ref: ./schemas/trip.yml#/TripParameters
    TripResponse:
      $ref: ./schemas/trip.yml#/TripResponse
    TripResponseContent:
      $ref: ./schemas/trip.yml#/TripResponseContent
    TripResponseParameters:
      $ref: ./schemas/trip.yml#/TripResponseParameters
    TripResult:
      $ref: ./schemas/trip.yml#/TripResult
    TripsCollectionResponseContent:
      $ref: ./schemas/trip.yml#/TripsCollectionResponseContent
    TripSearchCriteria:
      $ref: ./schemas/trip.yml#/TripSearchCriteria
    TripSection:
      $ref: ./schemas/_common.yml#/TripSection
    TripSpecification:
      $ref: ./schemas/trip.yml#/TripSpecification
    TripSpecificationSummary:
      $ref: ./schemas/trip.yml#/TripSpecificationSummary
    TripStatus:
      $ref: ./schemas/trip.yml#/TripStatus
    TripSummary:
      $ref: ./schemas/trip.yml#/TripSummary
    TripTravelAccountUnit:
      $ref: ./schemas/trip.yml#/TripTravelAccountUnit
    TripVia:
      $ref: ./schemas/trip.yml#/TripVia
    ValidityRange:
      $ref: ./schemas/_common.yml#/ValidityRange
    ValidityType:
      $ref: ./schemas/_common.yml#/ValidityType
    VAT:
      $ref: ./schemas/_common.yml#/VAT
    VatScope:
      $ref: ./schemas/_common.yml#/VatScope
    Vehicle:
      $ref: ./schemas/transport.yml#/Vehicle
    VehicleAvailability:
      $ref: ./schemas/transport.yml#/VehicleAvailability
    VehicleFilter:
      $ref: ./schemas/transport.yml#/VehicleFilter
    VehicleNumber:
      $ref: ./schemas/transport.yml#/VehicleNumber
    VoucherInformation:
      $ref: ./schemas/_common.yml#/VoucherInformation
    Warning:
      $ref: ./schemas/_common.yml#/Warning
    WarningCollection:
      $ref: ./schemas/_common.yml#/WarningCollection
    Zone:
      $ref: ./schemas/product.yml#/Zone
    ZoneCollectionResponse:
      $ref: ./schemas/product.yml#/ZoneCollectionResponse
    ZoneDefinition:
      $ref: ./schemas/product.yml#/ZoneDefinition
